[2019-05-15 03:35] opensas opened #5 "are query params supported?"
Is there support for parsing query params like

[code]

For example I'd like the following route to match /wild and be able to read the params

[code]

[2019-05-15 03:40] ItalyPaleAle commented on #5
Not built into the library at the moment, but I could consider it (although it would require adding another dependency).

However, you can still work around this by manually parsing the query string. You can get the current hash from the $location store. Then, extract the string after ?, and you can use a library like qs to parse it.

[2019-05-15 03:47] ItalyPaleAle commented on #5
An option to help with this scenario while not forcing a heavy dependency on everyone could be having the library split and export the query string but not parse it. And then you could parse it if you want, eg with qs.

Would that help?

[2019-05-15 15:48] ItalyPaleAle commented on #5
@opensas I've created a PR... Would this help? https://github.com/ItalyPaleAle/svelte-spa-router/pull/6

I'd like your feedback before merging it!

[2019-05-15 17:33] opensas commented on #5
Wow!!!

FLOSS never ceases to amaze me!!!

In less than 24 hs you added the feature, and you are waiting for my
opinion!

As soon as I get home I'll have a look at it, but I'm quite confident in
your skills (I'm barely giving my first steps with svelte)

Thanks a lot

On Wed, May 15, 2019 at 12:48 PM Alessandro (Ale) Segala <
notifications@github.com> wrote:

[2019-05-16 14:18] #5 closed

[2019-05-16 14:18] ItalyPaleAle commented on #5
Merged! (I take your silence as assent 😬)

[2019-05-16 15:30] ansarizafar opened #8 "Router features"
A complete router needs features like Lazying loading, route groups, Router hooks for authorizations, showing progress bar, Nested routes/layout and route animations like https://github.com/alshdavid/crayon. Is it possible to add these features?

[2019-05-16 16:08] ItalyPaleAle commented on #8
Hi @ansarizafar

That's a lot of requests 😄

1. Lazy loading: this is not in scope right now. I would also need to do some research to see if that can be implemented in the application outside of this component specifically. I am happy to consider a PR for this however.
2. Route groups: if I understand the feature correctly, you can do that by creating a new Svelte component as route, and include

[2019-05-16 17:03] ansarizafar commented on #8
Thanks for your reply. Lazy loading is very important for bundle size. It would be great, If we can use await import('./home-view') to load route component. For hooks please have a look at Vue router navigation  guards https://router.vuejs.org/guide/advanced/navigation-guards.html#global-after-hooks

[2019-05-16 17:18] ItalyPaleAle commented on #8
I'll need to do some research to see what lazy loading would require. It might be able to do that with the current module too, by managing the lazy loading logic inside the application. I can also explore how it would affect the router itself if I were to add it there; my main goal is to keep the router as simple as possible, and offload most other features to Svelte or the application itself (see

[2019-05-17 22:05] hlobil commented on #8
Here is a component that does lazy loading.

https://github.com/kaisermann/svelte-loadable

[2019-05-17 22:21] ItalyPaleAle commented on #8
This is very interesting. I'll try it and see if this can work with the router seamlessly.

Haven't been able to look at the docs I promised I'd make yet, but hopefully in the next few days.

[2019-05-18 19:55] ItalyPaleAle commented on #8
Ok here's the update:

- I created the [Advanced Usage](https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md) doc explaining how to do transitions, nested routers, route groups
- For lazy loading: I've done some research, and that's actually something I might need to implement into the router itself and it's not very high in the priority list for me at the moment.

@hl

[2019-05-18 19:55] #8 closed

[2019-05-22 15:35] wcjr opened #10 "devDependencies"
Mind if we update the docs to utilize `devDependencies` instead of `dependencies`?  I'll be happy to do a PR for it but it seems so small I'm not sure you need one for it.

It's one of the things I am so drawn to Svelte about, the `devDependencies` of it all!

[2019-05-22 21:36] ItalyPaleAle commented on #10
Good point. I think that with situations like Webpack, svelte, etc, the line line between dependencies and devDependencies isn’t always clear. There certainly are situations where svelte should be included as a “production” dependency.

How about we give it as an option and let the user decide based on their situation? Feel free to submit a PR :)

[2019-05-23 00:31] wcjr commented on #10
I'm not aware of those situations where one would need Svelte as a production dependency, my understanding is that it was used during the build process and then you were left with plain old javascript, no svelte...but I'm new to it and will take your word for it.

I'll submit the PR shortly for the change I'm suggesting.

Thanks!

[2019-05-23 00:33] ItalyPaleAle commented on #10
One example is when you build an app that has both front-end and back-end. The “start” script usually rebuilds the front end too. In this case, you might want to put svelte as a prod dependency.

[2019-05-23 00:44] wcjr commented on #10
oh ok, I could see that.  Here's the only suggestion I'm making:  https://github.com/ItalyPaleAle/svelte-spa-router/pull/11

Thanks for considering!

[2019-05-24 08:10] ItalyPaleAle commented on #10
Ok so I've been thinking about this for the last while and I believe I'd actually prefer to remove `--save` from the command.

1. People will likely have a preference on whether they want to save this as a dependency or devDependency. It depends on how their app is built, on their preference, and on whatever other reason. I expect developers at this point to be at least familiar enough with NPM to

[2019-05-24 08:10] #10 closed

[2019-05-24 11:28] wcjr commented on #10
Nice chatting with you, appreciate your responsiveness.

[2019-06-04 05:45] uriberto opened #14 "Reloading a route with different params"
Suppose the route #/widget/:param goes to the component Widget.
I believe that if you are at #/widget/paramA and you route to #/widget/paramB, the router does not destroy and re-load the component Widget, but rather just changes the values of params within the existing component.

I do not know if this is the intended behavior or not, but it means that onMount is not called again, which for some c

[2019-06-04 07:37] ItalyPaleAle commented on #14
Makes sense. I think I have an idea on what’s causing this, and I’ll look into it later today or tomorrow. Thanks for flagging it

[2019-06-04 07:41] ItalyPaleAle commented on #14
So I think I understand why this behavior and while it wasn’t something done intentionally, it does make sense, as Svelte tries to change the DOM as little as possible.

I’ll look more into this later today or tomorrow.

In the meanwhile, maybe there’s a workaround for you?

- create a function named “mount”
- bind “mount” to onMount
- also add a reactive statement so every time that params change

[2019-06-04 18:40] uriberto commented on #14
I made a quick repl with the issue and the workaround here: https://svelte.dev/repl/11e51e1ce65449c0b0db1af0906e206a?version=3.4.4

I think in the workaround method, you don't need to attach mount to onMount, because the reactive statement will work when params first gets its value, so it will run when the component is first mounted anyway.

The workaround (which is exactly what I figured out yest

[2019-06-05 03:17] ItalyPaleAle commented on #14
Thanks for writing the REPL, and yes I agree the solution you wrote is the optimal one.

Regarding this:

This is actually by design. If the navigation goes to a page with the same hash, browsers won't trigger the "hashchange" event, and so nothing happens. I actually like this behavior, as I find it makes sense for a SPA.

A workaround in your case could be to add an action to the link that chang

[2019-06-23 09:44] NaNCat opened #16 "Move params to context of Router"
This will allow you to get the params in any nested component, not just a child component.
What do you think?

[2019-06-23 16:27] ItalyPaleAle commented on #16
This is something I had explored (very briefly) before. My feeling was that to keep things simple (my philosophy with this Router) I could just let developers implement the context in their app. My understanding is that contexts are app-wide states and so aren’t passed just to children, but also to the parent, siblings...

I am open to re-consider this however. What do you see as the main benefit

[2019-06-24 11:10] NaNCat commented on #16
I'm sorry, I changed the structure of my project a little bit and was able to solve my problem.

For clarity:
I have a component that should create a link depending on the parameters passed into it. To do this, I received params from Router and then passed them to the component via all parents. Thinking about how to get rid of the problem, I changed the routing so that I could use the stored value

[2019-06-24 23:38] #16 closed

[2019-07-20 19:26] pr0mixe opened #19 "Injecting props into components"
Hello, is there a way to injects props into components being routed to? Some of my components depend on props to be mounted with. I know I could pass simple things as params in a route, but some of the props I use are web workers or complex objects. How would I go about injecting them into components mounted upon navigating to a route? Thanks!

[2019-07-20 19:38] ItalyPaleAle commented on #19
I feel like I might be missing some context (feel free to provide an example), but would you be able to add those components requiring props as sub-components? (I.e. Child components of the route)

[2019-07-20 19:52] pr0mixe commented on #19
In my App.svelte where I put the `<Router {routes}/>` I also instantiate some web workers that are global to entire app. Before adding the router I used to inject these web workers as props into child components of App.svelte, i.e.: `<ProjectManager {mySocket} {webWorkerDatabase}/>` .
Now, with the router I want to make a route: `const routes = '/': ProjectManager }`. But I'd like to pass mySocket

[2019-07-20 20:08] ItalyPaleAle commented on #19
Since they’re part of the global state, I’d store them in a module:

[code]

[2019-07-20 21:02] #19 closed

[2019-07-21 07:45] pr0mixe commented on #19
Thank you, this approach works. )

[2019-07-30 22:56] martinsodabi opened #20 "Nested Routes Feature Not Working Properly"
I am trying to use the nested routes feature as shown in the advanced usage section of the GitHub, but it is not working as expected.

[2019-07-30 22:57] ItalyPaleAle commented on #20
@martinsodabi Can you please provide some context and code sample?

[2019-07-30 23:03] martinsodabi commented on #20
`
<script>
  import Router from "svelte-spa-router";
  import { routes } from "../DashBoardRoutes.svelte";
</script>

<h1>DashBoard</h1>
<Router {routes} />

<script context="module">
  import MyShifts from "./dashboard/MyShifts.svelte";

  export const routes = {
    "/dashboard/:myshifts": MyShifts
  };
</script>

<script context="module">
  import Home from "./Home.svelte";
  import SignUp from

[2019-07-30 23:12] martinsodabi commented on #20
`<script>
  import Router from "svelte-spa-router";
  import { routes } from "./Routes.svelte";
  import Header from "./Header.svelte";
</script>

<style>

</style>

<main>
  <Header />
  <Router {routes} />
</main>`

[2019-07-30 23:26] martinsodabi commented on #20
[code]

[2019-07-30 23:30] martinsodabi commented on #20
When I navigate to "/dashboard/" I get my DashBoard component showing up, but when I enter any string in "/dashboard/example" I get DashBoard and MyShift component showing up, "/dashboard/:example" is not in my routes.

[2019-07-30 23:35] ItalyPaleAle commented on #20
Got it. It's because of this line:

[code]

The router uses [regexparam](https://github.com/lukeed/regexparam) (the only dependency) to parse that string. In regexparam, `:` in front of a path component means that it's a named parameter, essentially a variable.

This means that `/dashboard/:myshifts` will match `/dashboard/` followed by anything, and store the path component in the `myshift` param

[2019-07-30 23:35] #20 closed

[2019-08-05 10:28] LaughingBubba opened #22 "the catch all route * is not activated if the route is the root / + something else"
Instructions and demo here : https://github.com/LaughingBubba/svelte-spa-router-example

Would be nice when you hit the root path it automatically redirected to the hashbang root: http://some.domain/#/

PS: Thanks @ItalyPaleAle  for all the effort you've put in so far. If you got some some dross work to be done on this repo (like writing test scripts) - drop me a line.

Thanks in advance.

[2019-08-05 13:58] ItalyPaleAle commented on #22
I've tried your sample and I've then try repro-ing this on my local machine. To me, this looks more like an oddity in now.sh, the platform you're using for hosting?

When visiting `https://svelte-spa-router-example.laughingbubba.now.sh/should-be-router404` as in your example, the expected behavior would be for the server to return a 404 error. Unless there's a file called `/should-be-router404/ind

[2019-08-06 02:48] LaughingBubba commented on #22
Hi there, I deployed to now.sh to see how it would play out. However, the now.sh behavior is the same as if you used `sirv-cli` via `npm run dev`.

I guess my point is that the catch-all '*' should catch `/something` and route to `</NotFound>` but it doesn't, it routes to <Home/> even though it is _not_ an exact match to `/`.

I guess one persons bug is another persons feature. The one and only te

[2019-08-06 03:04] ItalyPaleAle commented on #22
I don't recommend using `sirv`: at the beginning that's what I was using myself for this module devDependency, but it had multiple bugs. I switched to `serve`.

What I'm trying to say is that on a normally-configured server, `http://localhost:5000/does/not/exist`, the server should return a 404 error and should NOT respond with your app. The router shouldn't even be involved in there, as you shoul

[2019-08-06 06:44] LaughingBubba commented on #22
Ahhhh ... that answers the question very well thanks. Good to know about sirv.

[2019-08-06 06:44] #22 closed

[2019-08-06 13:16] lud commented on #14
Hello,

I have the same problem. The param in my route is not updated when I change the URL, so all the code depending on the URL params must be in reactive `$:` statements. That results in code that is hard to understand.

A force-reload component option could be very useful !

[2019-08-06 15:32] ItalyPaleAle commented on #14
I understand.

Reactive statements aren't necessarily "bad", however, as they're the core of Svelte. You could simplify them slightly by putting them into a reactive block like:

[code]

[2019-08-06 15:32] ItalyPaleAle commented on #14
I can look into a "force reload" option however. How would that need to look like to be helpful to you?

[2019-08-08 12:14] lud commented on #14
Could it be as simple as a `refresh` attribute on the route ?

[code]

[2019-08-15 22:36] classikd opened #23 "Navigation guards"
Hello,
Is it possible to call an action before each route change like [vue-router](https://router.vuejs.org/guide/advanced/navigation-guards.html) ?
Would be great if we could do something like that:
[code]
Actually i'm doing this kind of user verfication in all my components ! :S
Thank you a lot!

[2019-08-16 00:25] ItalyPaleAle commented on #23
I've been thinking about this, and I believe there's a way to do this without changing the router (my goal is to keep the router as simple and lean as possible). Can you try this and let me know if it fits your needs? If it does, I'll add it to the "advanced docs".

The idea is to use the [`onMount`](https://svelte.dev/docs#onMount) method inside Svelte components. So, in each component you want t

[2019-08-16 23:03] classikd commented on #23
Actually i'm doing pretty the same thing as you did above.
The problem is when the user is on the forbidden component, he can't go back with the previous  button of the browser, he is stuck. It's normal... maybe i should display the component instead of redirect to it...
But I was also very interested in that because it can be useful to avoid repetitions of such verifications in every component wh

[2019-08-16 23:08] ItalyPaleAle commented on #23
Have you tried using the `replace` method rather than `push`? This way, the path in the browser's history is replaced rather than adding a new one, and it shouldn't lead users to redirect loops when they click the back button.

[code]

As for repeating the code... I understand your point and it's valid - but I would prefer to keep this router minimal. Right now, it's (possibly) the smallest router

[2019-08-16 23:52] classikd commented on #23
Indeed the replace() method is much better for that, it solves the problem !
Forget about repetitions, i am just too lazy... I will try later maybe, but actually the router does its job well, thank you. And thanks for your answers, you can close the discussion.

[2019-08-16 23:53] ItalyPaleAle commented on #23
Glad it worked for you :)

[2019-08-22 18:19] JoFont opened #24 "?options=on#"
Hello, I don't know if it has to do With the router, Svelte or the browser itself but a few days ago I started getting my url start with ...domain...**?options=on#/**... It is not spontaneous, it's when I do certain actions in a site, It reloads with the url like that. Any clues as to why It may be happening?

FYI: I Chose no to include snippets because I don't know where to look and the project i

[2019-08-22 18:27] ItalyPaleAle commented on #24
without more context and info (and possibly code), I can’t help sorry!

[2019-08-22 18:27] #24 closed

[2019-09-09 05:20] luisbello30 commented on #24
@JoFont it is posible when you use `<form>` and not use `<form on:submit|preventDefault={handleSubmit}>`

when you try to do this:

[code]

The right way can be this:

[code]

[2019-09-09 13:00] JoFont commented on #24
Hello @luisbello30! Yes, you're totally right, that was the solution to the issue.
Thank you very much for the help! 🥇

[2019-09-10 22:16] graemedouglas opened #25 "Change routes file, app reloads, can't access changes?"
Hey there,

I've installed this package with npm and imported it in my `App.svelte` file. Created a `src/routes.js` as in the example, with the following config:

[code]

Import the file in my App.svelte file, everything works! I then edited `src/routes.js` to be like the following:

[code]

No compiler errors for the new component, but it won't show the new route! Tried restart `npm run dev` and

[2019-09-10 22:57] ItalyPaleAle commented on #25
There might be a JS error in one of your routes? Does the browser’s console say anything?

[2019-09-11 19:33] graemedouglas commented on #25
No console errors, no errors when running `npm run dev` either.

[2019-09-12 00:33] ItalyPaleAle commented on #25
I don’t have enough context to reproduce this, I’m afraid. Could be an issue with rollup/webpack?

Anyways, good that it works

[2019-09-12 00:33] #25 closed

[2019-09-23 22:25] cabreraalex opened #26 "Routes open at bottom of page"
Not sure if this is a bug or I implemented something wrong:

When I click on a link, it opens the new route wherever the original view was. You can recreate this on my website: at cabreraalex.com, scroll to the bottom and click on the title "Discovery of Intersectional Bias in Machine Learning Using Automatic Subgroup Generation". The new page route opens at the bottom.

Thanks!

[2019-09-23 22:31] ItalyPaleAle commented on #26
When you say that, do you mean that when the page updates, it's not scrolled all the way up as you'd expect?

If so, this is a good point. It's not a feature of the router at the moment, because I try to be as lean as possible, and doing that might break some people's code. You could implement this with an [`onMount`](https://svelte.dev/docs#onMount) callback that invokes `window.scrollTo(0,0)`

[2019-09-23 22:33] cabreraalex commented on #26
Yup exactly! That's a good point, didn't about most single page apps not wanting it to act that way. I'll try that!

[2019-09-23 22:34] ItalyPaleAle commented on #26
I think it might apply to others, but it really depend on the app. You're the first one asking for this, but let's see what happens next :)

[2019-09-23 22:34] #26 closed

[2019-09-23 22:36] cabreraalex commented on #26
`onMount(() => window.scrollTo(0, 0));`
works like a charm, so at least others can easily fix it for now.

Thanks, really liking this router :)

[2019-10-03 17:41] TorstenDittmann opened #28 "use:active breaks when removing a link from an #each"
use:active breaks when removing a link from an #each array.

My example:

[code]

After a link in the array is removed, the active state remains frozen on the current one and does not change anymore.

Conversely, when a link is added, everything still works. Only if a link with a use:active is removed.

Right now I am looking into the problem...

I forked the example from this project and added co

[2019-10-04 07:42] sevaho commented on #19
hi @ItalyPaleAle I don't get it. I'm getting this error:

[code]

this is my main.js file:

[code]

[2019-10-04 14:25] #28 closed

[2019-10-04 14:29] ItalyPaleAle commented on #19
You should pass myworker inside props if you want it to be a prop.

[2019-10-04 15:57] ItalyPaleAle commented on #28
Version 1.2.1 is now on NPM with this fix. Thanks for your contribution!

[2019-10-04 16:03] TorstenDittmann commented on #28
You are welcome!

[2019-10-09 17:13] hmmhmmhm opened #31 "code splitting of routers?"
I have recently focused on developing the Svelte project using Parcel.... By the way, I wonder if the code splitting of parcel can be applied to the routes index map of spa router.

[code]

[2019-10-09 18:06] ItalyPaleAle commented on #31
Hi @hmmhmmhm I have not tried this, but it should work.

However, what you need to keep in mind is that the async function would be executed when the route object is defined. So, yes, you'd get code splitting – but all routes would be loaded at the same time, on page load.

If you want true async loading, then a possible way is to add to the router a route whose sole job is to load the Author rout

[2019-10-09 18:06] #31 closed

[2019-10-09 18:13] hmmhmmhm commented on #31
I just searched and found a module called svelte-loadable, and I have succeeded in implementing asynchronous loading through this module. I'll check the structure of the svelte spa router, and if possible, I'll do PR. thanks for answer!

[2019-10-09 21:23] chovy opened #32 "How can I protect a route such that a user won't be able to get to it unless they are logged in?"

[2019-10-09 21:30] ItalyPaleAle commented on #32
This is depending on your application, how you manage authentication, etc. In general, frontend apps are all public (it's all client-side code); it's when they fetch data from the server that they need to prove they're authenticated...

I'm afraid this question is beyond the scope of this project.

Additionally, please note that GitHub issues are primarily for reporting issues with the router itse

[2019-10-09 21:30] #32 closed

[2019-10-10 00:33] chovy commented on #32
is there a way to execute a function before a route is triggered?

Like in vue-router, you can do `router.beforeEach(checkForAuth); I think I would need something like that to do what I want.`

[2019-10-10 05:24] ItalyPaleAle commented on #32
See #23

[2019-10-13 13:41] wolfispace opened #33 "when using "use:link" middle click will not work"
When using the "use:link" option and i want to open the link in a new tap (middle click in the mouse) it will open as /book/321 instead of /#/book/321.

`<a href="/book/321" use:link>The Little Prince</a>`

[2019-10-14 07:26] TorstenDittmann commented on #33
Could this be solved by looking for the missing hash and additionally maybe the length of `window.history`?

[2019-10-14 08:08] TorstenDittmann commented on #33
Created a Pull request that handles middle clicks like normal clicks => #34

[2019-10-14 10:58] ItalyPaleAle commented on #33
@TorstenDittmann thanks for the PR.

I've been thinking about this, and I'm wondering if the best way would actually be to change the handler so it actually modifies the `href` element rather than waiting for a click? Otherwise, we'd have to support a lot of cases, such as middle button click, right-click and then "open in new tab", etc...

Thoughts?

[2019-10-14 11:49] TorstenDittmann commented on #33
Okay, that makes more sense.

Updated my PR for a proposed solution, where every link gets the `#` in the `href`.

[2019-10-15 20:13] chovy commented on #23
This is something the router should handle. Why litter my app with if (!state.isLoggedIn) replace('/login')` when all i need is a before hook when a route executes. I see there is no way to do that yet?

[2019-10-15 22:27] ItalyPaleAle commented on #23
Got it. Given the high demand, I’ll look into this tomorrow. :)

[2019-10-16 06:56] #33 closed

[2019-10-16 14:57] hmmhmmhm commented on #31
https://github.com/hmmhmmhm/svelte-spa-chunk

I made a code splicing module for svelte-spa-router.
can I add my module to this repo on REAME.MD(Advanced Usage)?

I think it would be more efficient to introduce
a separate extension module than to embed
a module called svelte-loadable into the spa-router.

[2019-10-17 14:00] ItalyPaleAle commented on #31
Thanks for that. I like your solution, and I think it looks very elegant. I'm happy to include a note in the Advanced Usage readme. Let's continue in #36

[2019-10-19 21:11] chovy opened #38 "refreshing page always goes to /login"
Clicking around works as expected but if i'm on say /pricing page and refresh i get the /login page for some reason.

[code]

[2019-10-19 22:02] hmmhmmhm commented on #38
there are no chrome inspector errors?

[2019-10-19 22:30] ItalyPaleAle commented on #38
@chovy Can you please create a repo (or a Svelte REPL) to reproduce this?

[2019-10-21 14:09] thiagomagro commented on #14
Guys, an easy way to achieve that is using the following code on the svelte page that need to be rerendered:

`
  $: if (params.id) { //watch the params.id for changes
    getData(); //invoke your method to reload data
  }
`

[2019-10-21 22:57] chovy opened #39 "active doesn't work on anchor container"
My design requires I have markup like this:

`<li class="active"><a href="/pricing">Pricing</a></li>`

However this doesnt' seem to work with `use:active`

`<li use:active={'/pricing', 'active'}><a href="/pricing" use:link>Pricing</a></li>`

The class actuall shows up correctly, but I'm not seeing my css changes for .active.

I tried global and also in component style tag.

//_colors.css

[code]

[2019-10-21 23:02] TorstenDittmann commented on #39
Would you mind creating a REPL where this behavior occurs?

Because in my current project I am doing something exactly the same. Chrome inspector might give some information on what is going on with the css.

[2019-10-21 23:06] chovy commented on #39
I think its because I'm using postcss.

the rule is dropped i believe. What REPL should I use?

[2019-10-21 23:07] ItalyPaleAle commented on #39
I'm not familiar with PostCSS, but if the class does appear in the HTML tag (when using the inspector), then the use:active action is doing its job correctly.

It's possible that PostCSS is renaming the "active" class to something else, or removing it entirely. It doesn't appear to be an issue with this module however.

PS: Did you solve #38 ? Can I close that?

[2019-10-21 23:07] #39 closed

[2019-10-21 23:13] TorstenDittmann commented on #39
You can use this repo at https://svelte.dev/repl/ with import Router from 'svelte-spa-router';

Yeah, it could be a problem caused by postcss.

[2019-10-21 23:24] chovy commented on #39
yeah. i think postcss is just too much god damn work. lol

And no when I refresh my pricing page I still go to /login

[2019-10-21 23:25] ItalyPaleAle commented on #39
With svelte, usually postcss isn’t strictly necessary because the framework includes the same functionality (CSS scoped to a component).

As per the other issue, can you please provide a REPL there?

[2019-10-21 23:27] chovy commented on #39
postcss lets me use future versions of css. its like babel for css. that's why I tried using it.

[2019-10-21 23:28] TorstenDittmann commented on #38
@chovy if you are willing to share your repo where this login redirect stuff happens, I am willing to take a deeper look into it tomorrow.

[2019-10-22 00:55] chovy commented on #38
sure, send me your email: anthony@profullstack.com

[2019-10-22 07:40] TorstenDittmann commented on #38
Looked into this. This bug is not related to svelte-spa-rotuer but can be solved when a solution for #23 arrives :)

[2019-10-22 17:49] #38 closed

[2019-10-22 17:53] ItalyPaleAle commented on #23
@TorstenDittmann following up on this thread from #38.

I've started to look into this; I had an idea on how to solve that in a clean way, but I'd first need to get something changed in the Svelte compiler. Been busy since that, but I'll look into that again soon again.

What I'd like to do is to have each Svelte component able to export an `onBefore` method (or something similar) that is availabl

[2019-10-23 07:32] TorstenDittmann commented on #23
Okay, I've never really gone deep into the subject of how guards are working. As far as I understand, you want to address a life cycle before rendering (`onMount`) that Svelte doesn't yet support.

I really like the idea that each component is for itself. But I prefer something more like the approach of "Router Guards" from Angular. Where you connect a "Guard service" to a route and have all the p

[2019-10-24 06:05] ItalyPaleAle commented on #23
I think I might have found a nice solution to the problem.

CC: @TorstenDittmann @classikd @chovy would love your feedback on the design

[2019-10-24 06:05] ItalyPaleAle commented on #23
I think I might have found a nice solution to the problem.

CC: @TorstenDittmann @classikd @chovy would love your feedback on the design if you can please take a look to #40

[2019-10-24 06:07] #14 closed

[2019-10-24 08:15] hmmhmmhm opened #41 "Can't SSR render SPA for SEO?"
I understand that this module uses CSR(Client Side Render),
However, search engines in some countries still cannot analyze CSR pages.

Of course, for of the SEO(Search Engine Optimization),
It might be better to use the Sapper.
SSR does not easily fit the structure of Cordova or Electron.

In my opinion, if there is a separate module that renders SPA,
it will be more convenient for all platforms t

[2019-10-24 08:59] rottmann opened #42 "How to forward events with router and nested routes?"
View https://svelte.dev/tutorial/event-forwarding

[2019-10-24 10:03] rottmann opened #43 "Feature request: onBefore"
When click a link and before route to the target, it would be nice to have a global onBefore function or a onBefore on each route (or both).

E.g. if a page has modified fields, you can ask in a modal to save before leaving the page.

Currently you must implement it on your own on each link
[code]

[2019-10-24 20:26] ItalyPaleAle commented on #43
This is great timing :) I created #40 as a draft last night and would be great if you could provide feedback on that design.

(Closing as duplicate of #23 and #40)

[2019-10-24 20:26] #43 closed

[2019-10-24 20:30] ItalyPaleAle commented on #41
Hey @hmmhmmhm I am aware of the fact that search engines don't always crawl SPAs correctly. However, the focus on client-side rendering is the reason why I created this router and I am not interested in adding support for SSR. In fact, I created this router specifically because the one I was using with Svelte 2 dropped support for hash-based routing when migrating to Svelte 3. There are other rout

[2019-10-24 20:30] #41 closed

[2019-10-24 20:31] ItalyPaleAle commented on #42
Could you please give me an example of what you're trying to achieve? You have a route (let's call it `MyRoute`) that is triggering an event, and you want the `Router` component to forward it up to the `App` (main) component?

[2019-10-25 02:02] hmmhmmhm commented on #41
I understand. But I'm sure there are some people who go through unavoidable situations like me. (I also try using IPLD and IPFS.. Yes it's perfect serverless except the gateway. And sometimes I use AWS because of uploads that are sometimes too slow. At this time, I'm just thinking about this for a while. Because There's a problem with Korean search engines not able to search my web app.) I will lo

[2019-10-25 08:41] rottmann commented on #42
Exactly.

[2019-10-31 04:46] ItalyPaleAle commented on #42
Sorry for the delay in responding.

I don't think this is possible. In Svelte, events don't bubble up the chain, as per design: https://svelte.dev/docs#createEventDispatcher

You need to find a workaround to this. Some ideas:

1. Rather than using Svelte's events, dispatch your own CustomEvents attached to a DOM node like `document`: https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creati

[2019-10-31 08:51] rottmann commented on #42
Thanks for your reply. Currently i use this method for global event transactions and event-forwarding only for local connected components.

[2019-10-31 08:51] #42 closed

[2019-10-31 14:30] #23 closed

[2019-11-02 12:23] aarongeorge opened #44 "[Feature Request] Object based route guards"
Hey there, I've started using your router and I like it a lot, however I really dislike the way route guards are handled.

Taking inspiration from how https://github.com/jorgegorka/svelte-router declares the route guards, I came up with the following helper for the router.

Obviously in my actual app this function is hidden away in the utils file along with the replace and wrap imports.

[code]

T

[2019-11-02 13:04] aarongeorge opened #45 "[Bug] Hashchange happens when route guard fails"
**WHEN** clicking a link such as this: `<a href='/' use:link>Home</a>` from any route other than `/`
**IF** there is a route guard
**AND** the route guard fails
**THEN** the hashchange event fires
**CAUSING** any transitions on the current page to fire again as the page is re-rendered

**EXPECTED** The hashchange event does not fire
**AND** transitions are not re-triggered as the page is not re-re

[2019-11-02 22:47] frederikhors commented on #8
@ItalyPaleAle any news for Lazy loading? Amazing project this one!

[2019-11-02 22:58] ItalyPaleAle commented on #8
@frederikhors check here: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#async-route-loading

[2019-11-02 23:00] frederikhors commented on #8
Thanks I see. But it just doesn't work with sveltejs Rollup template and `() => import("")`?

[2019-11-02 23:11] ItalyPaleAle commented on #8
Well, it depends on what you want to do.

You could just use `() => import("")` (as long as you put the route definition object into an async function, and await for the import to complete before initializing the app). That would give you code splitting; however, all the JS modules would be loaded before the app is initialized. So, it's not lazy loading. It can still help for example with caching.

[2019-11-02 23:14] ItalyPaleAle commented on #44
I see your point. In essence, it would help if conditions could return a custom message, which is then passed to the `conditionsFailed` event?

[2019-11-02 23:20] ItalyPaleAle commented on #45
If I understand the issue correctly, this is actually by design.

Route conditions are executed before the component is loaded (ie. it's injected in the DOM). This happens as a result of an "hashchange" event. If the pre-conditions fail, then a "null" component is loaded (that is: nothing is loaded), and *then* the app can display another component by using `replace()` (for example) in the `condit

[2019-11-03 04:31] aarongeorge commented on #44
Yeah I was thinking about that part last night. The guards should have individual callbacks, instead of just one redirect. E.g. It might make sense to trigger a notification instead of a redirect if a particular guard fails.

[2019-11-03 04:42] aarongeorge commented on #45
Oh okay, so it is not possible to prevent the hashchange from happening until after the route guards have been run?

From my way of looking at it, a route guard should prevent navigation to it unless the validations pass.

I understand this doesn't really work when putting the direct path in the browser url bar, but using the link and navigate/replace methods should function this way

[2019-11-03 13:46] ItalyPaleAle commented on #45
The way you should think about route conditions/guards in this route is that they prevent the component to be loaded (ie  injected in the DOM). This is quite similar to how server-generated pages work, eventually: first you request the page, and then you might get an error or redirect.

I’m afraid that having different behaviors depending on the way a link is created and clicked on would add incon

[2019-11-03 13:46] #45 closed

[2019-11-03 13:48] ItalyPaleAle commented on #44
It does trigger a notification (the redirect is just an example). I am not going to implement individual callbacks, as that would complicate the APIs too much, but I will look into a way to provide user-defined data in the event. (And that can include a function :) )

[2019-11-03 19:30] frederikhors opened #46 "Pre-condition (guard) for multiple routes"
@ItalyPaleAle your work is amazing! Thanks a lot.

I have read all https://github.com/ItalyPaleAle/svelte-spa-router/pull/40 and https://github.com/ItalyPaleAle/svelte-spa-router/issues/23: an outstanding job!

Just one question: can I avoid repeating the same `wrap()` pre-condition (guard) for each route?

Example:

**TODAY**:

[code]

**WHAT I NEED**:

[code]

Something like a `Protected` compon

[2019-11-03 19:54] ItalyPaleAle commented on #46
You can define a function outside and use its identifier.

For example (on my phone so forgive me for the simplified code and if there are mistakes):

[code]

Then use `myCondition` as second argument for the `wrap` method, as many times as you want:

[code]

[2019-11-03 19:54] #46 closed

[2019-11-03 19:55] ItalyPaleAle commented on #46
Another thing: I guess it’s fine to call “replace” within the handler itself, but you should still ensure you `return false` (or a false-y value)

[2019-11-03 19:57] frederikhors commented on #46
First answer: I created `protectedRoute(Component)` helper. Thanks.

Second answer: this is something I don't understand.

What happens if I do not return false but just `return replace('/login')`?

[2019-11-03 20:02] ItalyPaleAle commented on #46
Well, the condition callbacks are expected to return a Boolean indicating wether the condition succeeded. If you return a truthy value, it means the router can go ahead and inject the component in the DOM. you’re then calling replace which will replace the component on the next tick. So, you get the same result - but the unwanted component will still be injected first.

[2019-11-03 20:03] ItalyPaleAle commented on #46
On a second though, since the replace function doesn’t have a return value, it returns undefined, which is a false-y value. So you might be ok there :) (although it’s not a documented behavior and it might change in the future)

[2019-11-03 20:07] frederikhors commented on #46
Oh boy. Thanks, now it's clear.

I think I will go with `on:conditionsFailed={conditionsFailed}`.

[2019-11-03 21:53] frederikhors opened #47 "Nested routes, avoid repetition of route name"
It would be amazing to avoid in nested routes the repetition of the route name.

Example (from https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#nested-routers), this:

[code]

it would be great if it were like this:

[code]

Is it possible?

[2019-11-03 22:08] frederikhors opened #48 "Just one wildcard route for nested routes?"
It would be amazing to have just one route declaration for this case.

As it's now:

[code]

It would be amazing this:

[code]

In `Books` component I have these routes:

[code]

Now it doesn't work, right?

**Is it possible? Am I wrong and this is not good?**

[2019-11-03 22:11] liquiddandruff opened #49 "Reset scroll position when navigating to a new page"
First of all, thanks for this awesome static route lib :)

I'm wondering if there's a cleaner way than `window.scrollTo(0,0)` when navigating to a new page from a page that has been scrolled even a tiny bit down? Since if I don't do this, the new page will be shown with the previous scroll position.

Am I missing anything or is this the right way to do it? Cheers.

edit: Did a quick search but for

[2019-11-03 22:13] ItalyPaleAle commented on #49
See also #26

Yes that is probably the best way. The router will not do that for you as we cannot make assumptions about your app.

[2019-11-03 22:13] #49 closed

[2019-11-03 22:14] liquiddandruff commented on #49
Thank you!

[2019-11-04 01:38] zemigpt opened #50 "Named argument not working. What am I doing wrong?"
I know it's probably some newbie mistake of mine, but I'm struggling with named arguments for the last hour without success, so I turned here in search for help, or sanity!

I have a simple SPA.

Defined routes in "routes.js" file like this:

[code]

App.svelte looks like this:

[code]

When I navigate to http://localhost:5000/#/obras/ it works just fine, so the router is working.

When I click on

[2019-11-04 01:40] ItalyPaleAle commented on #50
That sounds like an issue with your server maybe? What are you using as server?

[2019-11-04 01:44] zemigpt commented on #50
I was using sirv (default svelte npm install) but after reading a comment from you in some other issue I changed to serve.
The error is the same with both...

[2019-11-04 07:56] liquiddandruff commented on #49
From some experimenting, this quickfix works great for forward navigations but it breaks history and back navigation (since navigating backwards will run that page's onMount). I believe the cleanest implementation would need routing library support to restore stored positions on back navigation. See the same discussion with angular's route: https://github.com/angular/angular/issues/7791 and https:

[2019-11-04 14:21] ItalyPaleAle commented on #49
The problem with that approach is that it would be quite hard to implement here.

The router has no concept of history stack, and it can’t have, so there’s no way we can know if this is a forward navigation or backwards. We could maintain a stack of all visited pages in memory, but even there we wouldn’t be able to know if the navigation is forward or backward (eg page that links back to the previ

[2019-11-04 14:26] ItalyPaleAle commented on #50
It should work indeed. Can you share the full code to reproduce this (might need to be a separate git repo) or use a REPL? (https://svelte.dev/repl)

Also what browser are you using?

[2019-11-04 17:18] zemigpt commented on #50
It must have been something related with bulma or svelma packages.
In REPL it worked ok, so I started from scratch and it's working...
Go figure...
Thanks and sorry for the time wasted...   ;)

[2019-11-04 17:18] #50 closed

[2019-11-04 20:31] ItalyPaleAle commented on #48
See here for nesting: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#nested-routers

[2019-11-04 20:31] #48 closed

[2019-11-04 20:33] ItalyPaleAle commented on #47
I think this could be doable in an easy way by adding a "prefix" prop to the "Router" component. It should be possible to implement that without making the router more complex for simpler scenarios.

I'll look into it in the next few days. For now, you need to add `/hello` before all routes in the nested router :)

[2019-11-04 21:07] frederikhors commented on #48
@ItalyPaleAle I have read all about that.

The issue (exposed not very clearly, I admit) is this:

If I need to handle an URL like: `mydomain.com/#/books` (without final slash `/`) I need two routes like this:

[code]

Is there a way to handle both `#/books` and `#/books/*` with just one route?

Is it clear now?

[2019-11-04 21:57] ItalyPaleAle commented on #48
You can totally do `/books*` but that would lead to unexpected consequences, such as matching `/booksmart` too. Hence the recommendation to use both `/books` and `/books/*`, which comes from https://github.com/lukeed/regexparam (the library used to parse the strings)

Having to define the route twice is an annoyance, but it should be a relatively minor one...

If you absolutely needed to define th

[2019-11-05 00:30] chovy opened #51 "Layouts"
Will you or do you have any plans to add a layout to the Nested routes feature?

[2019-11-05 00:38] ItalyPaleAle commented on #51
I’m not sure I understand. What do you mean?

[2019-11-05 03:41] chovy commented on #51
Look at svelte-router-spa. They have a main layout where you can include nested routes that render inside the main layout.

[2019-11-05 03:47] liquiddandruff commented on #49
Feel free to take a look, small changes. This works great for my use case (still haven't handled `push`, `pop`, `replace` yet, probably will once I need it).

Tried to make things semi-releasable, at very least others might find this useful.

Some things to look at would be to somehow make back navigation not flash if there's lots of content to load (maybe fade the page in etc).

[2019-11-05 04:05] ItalyPaleAle commented on #51
I'm not familiar with svelte-router-spa (funny name :) ) but at a quick glance they are following a different design.

I am not supporting layouts. The goal of the router is to be as lean as possible, and do as few things as possible. Svelte has a full-blown framework (Sapper) that is very opinionated; my goal is to be the opposite. With this router, routes are just Svelte components with no speci

[2019-11-05 04:05] #51 closed

[2019-11-06 15:12] rottmann opened #53 "Route pre-conditions promises"
Pro-Conditions should resolve promises.

Before a route is called, i load settings async from a local storage and check user token async on a server before i route the user to the target page.
In the meantime i show a "Please wait" screen.

[2019-11-06 15:21] rottmann opened #54 "Route if routes are set"
If set routes later and if no routing happend, the router should route with the new routes.
Currently we can not replace or push the same current route.

[code]

Or is it possible to call an init function manually, after setting routes?

According to #53 i want  to set the routes after settings are loaded and user-login is verified.

[2019-11-06 15:28] ItalyPaleAle commented on #53
Hi @rottmann I am not looking at adding support for async conditions, because that would require adding a way to show a route while the condition is resolving... A mess!

My suggestion for you is to skip using route conditions and instead use another Svelte component as wrapper that controls the loading of the route.

For example, if your component is `Foo`, create a component called `Wrapper` tha

[2019-11-06 15:28] #53 closed

[2019-11-06 15:30] ItalyPaleAle commented on #54
The solution to this is to init the router asynchronously.

In your `App.svelte` component, rather than including `<Router>` right away, put it inside an async/await block that resolves when the routes object is initialized.

You can replace the route object by using reactive statements.

[2019-11-06 15:30] #54 closed

[2019-11-06 15:33] rottmann commented on #54
Thanks, i wrapped it in a simple if

[code]

[2019-11-07 13:58] rottmann opened #55 "Should browser click on back or forward execute scripts?"
I know it is the old browser bfache issue, but should the router detect the back or forward click and execute the scripts again?

On each svelte-file i could do it manually with `window.onpageshow = function(e) {...` (but much boilerplate code)

[2019-11-07 14:50] ItalyPaleAle commented on #55
Can you give me an example of what the issue is?

[2019-11-07 15:03] rottmann commented on #55
e.g. some edit view, called with `/#/edit/1` press save and after save it pushes automatically to the next record `/#/edit/2`
Then you click the browser back button and you go back to edit 1, but the scripts are not executed.

We can check the changed id and do some stuff, but things like onMount will be ignored.
[code]

[2019-11-07 15:46] rottmann opened #56 "Nested routes click to parent problem"
Example:
[code]

App.svelte
[code]

CallView.svelte
[code]

CallEditView.svelte
[code]

Open http://localhost:5000/#/call/
after 1 second CallView pushes to nested view /call/edit/1
click the button,
no nested view is visible, cause setTimeout/onMount is only called once.

[2019-11-07 15:47] rottmann commented on #55
I think this problem #56 is similar.

[2019-11-11 03:55] aarongeorge commented on #44
Awesome, thanks @ItalyPaleAle

[2019-11-11 15:38] beinoriusju commented on #19
Another way to pass in props would be `routeLoaded` event. Unfortunately `event.detail.component` **references component`s name and not component itself**. That's greatly limits my choices.

Can you give me an argument for this decision?

https://github.com/ItalyPaleAle/svelte-spa-router/blob/943c339dc9a841ecbc3e2b9a6501ab80142ff263/Router.svelte#L311

[2019-11-11 21:59] frederikhors commented on #49
@ItalyPaleAle, I understand what you say about few features that work good.

Your hint to use the new `routeLoaded` is great and I'm using it right now.

But is a bit DRY if used in many `<Router>` components in my app.

Look here: https://github.com/vikignt/svelte-ui/blob/master/example/src/main.js#L25-L30.
They use `page.js` and `forEach` route they have a `func()`.
Maybe an idea?

[2019-11-11 22:00] frederikhors commented on #49
I'm sorry, I'm wrong.

Your `routeLoaded` works for every underlying route. My fault.

[2019-11-11 22:01] frederikhors commented on #49
But perhaps, now that I think about it, this is another the problem.

How to use it only for some `<Router>` components?

[2019-11-11 22:55] frederikhors opened #57 ""routeLoaded" just for some nested routes, not for all"
@ItalyPaleAle, I agree with you about the few (amazing) basic features that make this router great.

For the `window.scrollTo(0, 0)` problem (https://github.com/ItalyPaleAle/svelte-spa-router/issues/49) your hint to use the new `routeLoaded` function is great and I'm using it right now like this:

[code]

But it works for every underlying route.

And maybe this is a new problem now.

How to use it

[2019-11-11 22:55] frederikhors commented on #49
https://github.com/ItalyPaleAle/svelte-spa-router/issues/57

[2019-11-11 23:11] frederikhors opened #58 "Open modal with dedicated route (URL)"
Something that I can't find and that is still missing today is a mechanism to open modals with a dedicated URL.

Example:

[code]

- I'm on listing page (URL: `/#/players`)
- I click on a row with ID 4
- the function `handleRowClick()` in `PlayersList` component:
  - push a new URL: `/#/players/4/edit`
  - check for `$location`:
    - if `/edit` is present: open modal
    - if not: return

Does th

[2019-11-13 12:52] TorstenDittmann commented on #57
Are you using route parameters?

It may be possible, that the routeLoaded() is not firing when a parameter of the url changes.

[2019-11-13 13:18] TorstenDittmann opened #59 "svelte version 3.13.0 breaks use:active"
Just updated from svelte version 3.12.1 to 3.13.0.

The `node` in `active.js`@`active(node, path, className)`
https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/active.js#L37

is not present anymore.

When I don't give `use:active` a custom css class, everything works fine.

Example using `use:active={'/'}`:

Example using `use:active={'/', 'active'}`:

[2019-11-14 02:41] chovy commented on #55
Yes, of course it should. That's a fundaemental tenant of usability is don'jt break the back button.

[2019-11-14 03:36] chovy commented on #59
I can't get use:link to work. I just get a 404

[2019-11-14 05:46] ItalyPaleAle commented on #59
Thanks for reporting this. I have confirmed it's a regression in Svelte 2.13+ and opened a bug with the upstream project: https://github.com/sveltejs/svelte/issues/3923

In the meanwhile, please revert back to 2.12.1

[2019-11-14 05:47] ItalyPaleAle commented on #58
I think the issue is that `push` is not an async function. You shouldn't "await" for push because it doesn't return a promise.

Instead, you should listen to the [`routeLoaded` event](https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#routeloaded-event) to see when the page has changed.

[2019-11-14 05:47] #58 closed

[2019-11-14 05:50] ItalyPaleAle commented on #57
Hey @frederikhors are you trying to listen to `routeLoaded` for some routes only? If so, you can use the first argument passed to `routeLoaded` (event) and check for `event.component` and match it against a list of components you want to execute this for.

[2019-11-14 06:07] ItalyPaleAle commented on #56
Hi @rottmann  sorry for the delay in responding.

This is actually not an issue in the router itself, but it's how Svelte works. The "problem" is that your code never causes the `CallView` component to be un-mounted (removed from the DOM), so Svelte doesn't re-mount it. You can confirm this behavior by changing the code of `CallView.svelte` to:

[code]

In the console, you'll see that "mounted" ap

[2019-11-14 06:07] #56 closed

[2019-11-14 06:08] ItalyPaleAle commented on #55
This does sound a lot like the issue in #56. To recap, the issue is that the Svelte component isn't unmounted and so Svelte doesn't re-mount the component.

The workaround is to listen on changes on the `$location` store that the router exports, as per the sample code in my example in #56.

[2019-11-14 06:08] #55 closed

[2019-11-14 08:47] rottmann commented on #56
Thank you! Other solution could be to react on location change with`$: $location`, will try both.

[2019-11-14 10:05] ItalyPaleAle commented on #56
The two things are equivalent. The $ syntax behind the scene manages the subscription/un-subscription automatically, as per the svelte documentation!

[2019-11-14 10:53] nitro52 opened #60 "Able to use with base url?"
We need to specific a base server side route like `/admin` that will serve up a SPA. We can add a base tag to the page to prefix urls but this breaks the route.

`<base href="/admin" target="_blank">`

the url ends up as `/admin/#/settings` but the router is matching `/#/settings`.

Is there a way to get it to work with base tag?

[2019-11-14 15:27] ItalyPaleAle commented on #60
At the moment, the router doesn’t care where it’s being deployed as it only looks at what’s after # in the URL.

Your best bet would be to simply don’t add a prefix to your URLs, so they all look like `<a href=“#/somewhere”>`. Alternatively, use the “use:link” action that automatically converts “/somewhere” to “#somewhere”

Did you find any issue with these, any unexpected behavior?

[2019-11-14 15:33] ItalyPaleAle commented on #59
Looks like this will need to be fixed in the router. Since it’s a breaking change, it will happen on a version 2.0, for which there’s another breaking change I’m considering.

I’ll work on this over the weekend

[2019-11-15 01:34] nitro52 commented on #60
I haven't tried serving it up from our production webserver yet. But i know i've had issues with angularjs in the past but that was without using # urls. so you think in production the route would be /admin/#/settings and internally we just use relative paths like #/something ?

[2019-11-15 01:36] ItalyPaleAle commented on #60
Yes it should work without issues as long as all links start with “#/“, or they start with “/“ and you use use:link

[2019-11-15 01:37] #60 closed

[2019-11-15 02:14] nitro52 commented on #60
Thanks, I'll test it when we are closer to ready and reactivate if needed.

[2019-11-16 02:58] duduindo opened #61 "Breaks in the Webpack (svelte-loader)"
Good evening, guys!

### Error
[code]
### Svelte file
[code]

### Webpack config
[code]

### Packages
[code]

[2019-11-16 03:01] ItalyPaleAle commented on #61
This line is the issue, causing Webpack not to parse Svelte files from modules you install:

[code]

Just remove that line.

Note that the issue is not with the router per-se.

[2019-11-16 03:01] #61 closed

[2019-11-16 03:08] duduindo commented on #61
OMG. Tks!

[2019-11-16 18:13] frederikhors commented on #57
I'm doing it right now. But you also know that it is a bit ugly, right?

[2019-11-17 16:20] classikd opened #62 "Links to anchors within a page"
Hello,

I would like to use links to go on specific locations on my page, for example a "back to the top" button. But it is always redirecting me to the homepage.
How could i use such links without the router does anything ?

Thank you

[2019-11-17 18:04] ItalyPaleAle commented on #62
[code]

See MDN: https://developer.mozilla.org/en-US/docs/Web/API/Window/scrollTo

You can add this to the `routeLoaded` callback

[2019-11-17 18:04] #62 closed

[2019-11-17 18:26] #59 closed

[2019-11-17 18:27] ItalyPaleAle commented on #59
Merged the fix into master. I'll release this in version 2.0 with a few more things soon, as it's a breaking change

[2019-11-17 19:52] #44 closed

[2019-11-17 19:53] ItalyPaleAle commented on #57
@frederikhors I have just pushed a better fix to master (will be released in version 2.0) that allows you to pass custom objects using the `wrap` function, even without using route pre-conditions. This is useful to pass custom callbacks that you can execute in the `routeLoaded` event. See the "Advanced usage" doc :)

[2019-11-17 19:53] #57 closed

[2019-11-17 20:23] #47 closed

[2019-11-17 20:26] ItalyPaleAle commented on #47
Fixed in master, will be released in 2.0

[2019-11-18 19:15] chovy opened #66 "(!) Plugin svelte: A11y: '#' is not a valid href attribute"
(!) Plugin svelte: A11y: '#' is not a valid href attribute

how should I handle this? I have a link with an onclick handler

[2019-11-18 20:09] chovy opened #67 "need to be able to specify multiple active paths"
`<a href="/hello/user" use:link use:active={'/hello/*'}>Say hi with a default className!</a>`

I want to set it active for `/hello` and `/hello/*`. Doing `/hello*` doesn't work

[2019-11-19 03:08] ItalyPaleAle commented on #66
This is not an issue with the router. It’s Svelte telling you that links to # are bad for accessibility.

If you want to link to the home page, use #/ for href. If you want a link that does nothing, use “javascript:void(0)” for href. Or just don’t use an anchor tag and use any other kind of tag :)

[2019-11-19 03:09] #66 closed

[2019-11-19 03:12] ItalyPaleAle commented on #67
This is actually not possible today. The closest thing would be to match “/hello*”, but that would match also the case of /helloworld for example.

A proper solution would require supporting regular expressions there.

I’m adding this to the backlog as a feature request and will implement it in the next release.

[2019-11-19 05:56] hmmhmmhm opened #68 "A function that repeats only on each page?"
What is the simple way to configure setTimout or setInterval that works whenever each page is activated without waste in the event handler?

[2019-11-19 06:27] hmmhmmhm commented on #68
![스크린샷 2019-11-19 오후 3 24 58](https://user-images.githubusercontent.com/38493722/69121921-ce668a00-0ae0-11ea-9a6e-1918cda5a3b7.png)

Is it okay if I send a PR to embed these functions into the library?

[2019-11-19 06:39] ItalyPaleAle commented on #68
This (listening on the $location store) is definitely a way. Another way (which might be better if you want to listen to changes on $querystring too) is to use the “routeLoaded” event and place the timeout on the callback.

As for opening a PR, why do you think this would be best in the router rather than in the users’ code? What problem are you trying to solve that would be best implemented in th

[2019-11-19 06:48] hmmhmmhm commented on #68
I think it's better to provide some of the functions involved in the task that work uniquely on each page. Isn't convenience the most important thing? (like a svelte?) If you don't like the idea of embedding this feature in the module, I think it's okay to just put it in my svelte-spa-chunk.

[2019-11-19 16:38] ItalyPaleAle commented on #68
svelte-spa-router is meant to be included in many different apps and, since it's front-end code, every bit of it gets shipped to clients. It's very important that we keep this lean and minimal, for speed, maintainability, reliability and security.

My "litmus test" for deciding on what goes in the router is that things get included if all these are true:

1. If it's not possible (or much more inco

[2019-11-19 16:38] #68 closed

[2019-11-19 17:42] chovy commented on #67
as i said `/hello*` doesn't work

[2019-11-19 17:44] chovy commented on #66
without href attribute you don't get the proper cursor.

[2019-11-19 17:47] emiola commented on #66
You can also prevent the warning with a comment:

[code]

[2019-11-19 19:52] ItalyPaleAle commented on #66
Cursor can be changed with CSS cursor rule

[2019-12-03 15:46] braintapper commented on #67
I'm having a similar issue.

I'm expecting `/hello*` to work with these three cases:

`/hello`
`/hellowithanythingafter`
`/hello/with/anything/after`

My particular use case is that I have a top level nav and sub level nav. My top level nav only highlights `/hello` when using `/hello*`. Once I hit a path for a sub level (`/hello/id`), it's no longer highlighted unless I change the `use:active` pat

[2019-12-03 15:58] braintapper opened #69 "use:link behaviour"
I'm finding that the use:link doesn't appear to behave as expected in all cases:

`<a href="/book/321" use:link>The Little Prince</a>`

Works correctly and points to `#/book/321`

`<a href="/book/{321}" use:link>The Little Prince</a>`

Works correctly and points to `#/book/321`

`<a href="/book/{book.id}" use:link>The Little Prince</a>`

Works incorrectly and points to `/book/321` - it is missing

[2019-12-05 13:18] raguay opened #70 "Sending data to the component in the router."
I would like to be able to send data down to the component when the route is activated. That way, I can send it dynamic sizing information, for example.

[2019-12-05 15:13] ItalyPaleAle commented on #70
Because the component is loaded dynamically (ie it depends on the route), this is not something easy to do the “usual” way.

The best way is to use a Svelte store instead.

[2019-12-05 15:13] #70 closed

[2019-12-20 06:06] kokizzu opened #71 "Change window title when navigating"
Tried to add these on main svelte code `App.svelte`
[code]
but this didn't work, any way to get callback when navigating/url changed?

the purpose is labeling the history, so it won't show exactly the same title:
![image](https://user-images.githubusercontent.com/1061610/71233900-92198a00-2329-11ea-9310-910091a09ad5.png)

[2019-12-20 06:07] kokizzu commented on #71
Ah wait, now it works -_- weird..

[2019-12-20 06:07] #71 closed

[2019-12-26 04:50] AndreLeifert opened #72 "custom DOM events won't bubble past <Route />"
Having tried the first proposed work-around of #42, my findings are very strange.
With HTML like this:
[code]
and custom event being fired by a component deep inside Index:
[code]
Everything works fine - _listener_ gets the event. Once I replace ```<Index />``` by ```<Route />```, everything
**but** the event delivery works fine, which I absolutely don't understand, because the DOM structure
looks

[2019-12-27 10:59] joshua1 opened #73 "use dynamic routes with wrap"
@ItalyPaleAle  you said in your PR for Wrap that you would make modifications to take a promise as first parameter for wrap to enable dynamic wrap import. Is this possible now. this seems like the only way to use both features (wrap and preconditions alongside dynamic route loading )

[2019-12-27 11:01] joshua1 opened #74 "event to indicate new route loading"
Is it possible to have another event that gets emitted when navigation to a new route starts . this will make it easy to use modules like progress bar (progressbar.start in onrouteLoading event and progressbar.stop in onRouteLoaded or conditionsFailed events)

[2020-01-05 02:01] frederikhors opened #75 "Maybe a bug with a modal"
I don't know if this problem is with `svelte-spa-router` or with `sveltestrap`.

### Reproduction here: https://codesandbox.io/s/modern-cache-znqt3

But codesandbox is not the best place for routing issues.
You can download project: "File > Export to Zip".

### The problem

Reproduction steps:

1. Click on "Hello" menu item
1. Click on button
1. Modal should appear
1. Click on the back button of t

[2020-01-06 12:47] frederikhors commented on #75
Sveltestrap's author is trying with me to understand the problem here: https://github.com/bestguy/sveltestrap/issues/105.

[2020-01-30 08:07] Baudin999 opened #76 "Named Params not working as expected"
I am trying to get the named params to work, I have a set of routes:

[code]

I am trying to keep the routs as simple as possible. What I would expect is that the URL:

[code]

What I get as the `currentRoute` is:

[code]

What I would expect is:

[code]

Am I doing something wrong? If needed I can try and create an example to reproduce.

[2020-01-31 01:40] ItalyPaleAle commented on #76
I don't think you're doing something wrong per se, it could be a bug in the upstream package that we use to parse arguments.

I think you have 2 possible (easy) workarounds here:

1. Use a nested router within `/project/:projectName`
2. Define your path using a regular expression rather than a string

[2020-01-31 01:45] ItalyPaleAle commented on #74
I think this can be done easily without requiring changes in the router, by changing your views so there's an `{#await}` block inside. It would also offer the best UX.

If you really need to emit an event when the route starts loading, you can do that by using a route pre-condition that always returns true, but has some side effects: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Ad

[2020-01-31 01:45] #74 closed

[2020-01-31 01:46] ItalyPaleAle commented on #73
Still not possible, sorry. I ran into some issues when trying to implement that, and it is in the backlog. PRs are welcome :)

[2020-01-31 13:33] Baudin999 commented on #76
OK, will try it another way

[2020-01-31 13:33] #76 closed

[2020-02-01 09:58] CraigBanach commented on #53
@ItalyPaleAle I think you should add a similar comment to the Advanced Usage -> pre-conditions section. This would have helped me out.

[2020-02-16 15:37] andriytyurnikov commented on #14
Thanks guys, this is not my first issue with svelte component remounting, and such solutions look not idiomatic really. Perhaps router should deal with this issue, not routable component.

[2020-02-19 21:08] frederikhors opened #77 "Investigation for a smooth and fast UI, doubts and proposal"
This Svelte router is amazing! I'm very happy using it.

And it's because I love it that I want to try to improve it even more!

# Issue

Many projects has heavy pages with heavy scripts.

I need a smooth and fast UI with immediate feedback when I change page.

# One possible solution

As you can read here: https://github.com/sveltejs/svelte/issues/2979 about a year ago I asked for something simil

[2020-02-19 21:13] frederikhors commented on #77
@jacwright, it would be a pleasure to read your opinion about it.

[2020-02-19 21:15] frederikhors commented on #77
@PaulMaly, it would be a pleasure your opinion too having seen your beautiful work here: https://github.com/PaulMaly/svelte-viewpoint.

[2020-02-20 09:26] PaulMaly commented on #77
@frederikhors Hi, I'm not using svelte-spa-router and actually not sure I clearly understand all doubts about it. It's pleasant to hear your feedback about svelte-viewpoint but it's the router agnostic loadable component. It means you can switch target components in any way you like.

[2020-02-20 09:39] frederikhors commented on #77
@PaulMaly and what do you think about `requestAnimationFrame` for non-blocking component loading?

[2020-02-20 10:13] TorstenDittmann commented on #77
Mhh, I really like the idea of it. But, I don't think the router should be the one to handle this.

If you have heavy load components like in your example, it should be handled by the component - not the router IMO.

[2020-02-20 18:08] drop1down opened #78 "buble not working with router"
i use @rollup/plugin-buble to make js compatible with old browsers
But spa-router do not work with buble

`CompileError: Transforming for-of statements is not fully supported. Use `transforms: { forOf: false }` to skip transformation and disable this error, or `transforms: { dangerousForOf: true }` if you know what you're doing. (353:1)`

[code]

[2020-02-21 02:25] ItalyPaleAle commented on #77
Hi @frederikhors can you help me understand your issue with a large page, and how this would help? I'm not really sure what you're trying to accomplish?

[2020-02-21 02:29] ItalyPaleAle commented on #78
Thanks for finding this. Let me look into this tomorrow for how I can remove the for..of loop

[2020-02-21 09:51] frederikhors commented on #77
@ItalyPaleAle sorry for the perhaps too long message.

Can you open this live example?

https://codesandbox.io/s/investigation-for-a-fluid-ui-bhknp

I don't know if the router can automagically use `requestAnimationFrame` on `onMount()` to render pages.

What do you suggest?

[2020-02-21 16:34] drop1down commented on #78
Hm... i tested buble with option to disable forOf...
Unfortunately it was not possible to convert for IE11.
I think this is not spa-router fault (?)

[2020-02-23 00:05] cschar opened #79 "How do i bind a variable to a props in an object when its defined in routes?"
Sorry if this is explained somewhere in the docs but it wasn't clear to me.

say i have a component:

[code]

am i passing myList in to the "Detail" component as its properties?
similar to if i had defined it in the markup as `<Detail myList={masterList} />` ? ?

I can't get it to work if thats the intended functionality....
i've resorted to passing in myList, broken up as elements[1] in a queryha

[2020-02-23 19:42] drop1down commented on #67
i solved this like so:

import {location} from 'svelte-spa-router'
var path = shortPath($location) //get first part of path
...
<a href="#/users" class:active={path == 'users' || path == 'user'}>Users</a>

[2020-02-23 19:51] drop1down opened #80 "Component replacement?"
lets say... i navigate to /#/secret-page
I can add route guards - so in fact i can "push" user away to 403-url (forbidden).
that works

Smarter is to replace component "secret-page" with "403"-component,
without changing url

Is this possible?

[2020-02-23 21:25] hmmhmmhm commented on #79
If this is a health care that follows the SPA structure
and doesn't need to be accessed again through the address,

You just can use svelte/store,
I think it doesn't need to use routes props,

[code]

[code]

Or there is a way to convert the object you want to pass
through the function JSON.string() to a string value
when you give query or routes parameters to a page.

[2020-02-23 21:31] hmmhmmhm commented on #80
yes you can possible change the component without changing any url,
you just need to use state management,

[code]

[2020-02-23 22:16] cschar commented on #79
ok i'll try that, thanks

[2020-02-23 22:16] #79 closed

[2020-02-23 22:37] drop1down commented on #80
OK - one problem with this is, that i need such code for many pages

[2020-02-24 02:35] hmmhmmhm commented on #80
what many pages?
what are you trying to render it?

[2020-02-24 03:50] hmmhmmhm commented on #78
@drop1down
Unfortunately, it does not support ie11 from the start of the svelte.
You should use babel & polyfill in your projects.

https://github.com/hmmhmmhm/svelte-spa-template
I recently created svelte-spa-template using babel and polyfill,
which is compatible up to ie 8 with es3 support.

[2020-02-25 06:05] hmmhmmhm commented on #77
I have solved these problems at my way (in my projects).
(currently i'm using svelte-spa-router in my production apps).

First of all, as reflected in the advanced usage,
I created an (asynchronous) dynamic import module called svelte-spa-chunk.
(Here I used svelte-loadable as you suggested like a waypoint.)

And as you predicted, one problem arose when i
had to bring all the pages in asynchronous

[2020-02-25 21:56] drop1down commented on #80
I have different rights.
to load #/view, you need view right
to load #/edit, you need edit right
and so on...

My idea for now:
instead return bool with route pre-conditions.
Additionally it coult return a component (that implicit true at same time).
So we coult override default component with different.

example:

[code]

instead push('/403'),
we could
return Forbidden

[2020-02-26 01:35] hmmhmmhm commented on #80
So you want to return the component without returning the route?
I don't know if I understand correctly, but if this is wrong, I apologize first.

If you want to obtain classes from a file with a svelte extension
and give props them dynamically to the class,
the following code can be an example.

https://github.com/hmmhmmhm/svelte-spa-chunk/blob/master/src/index.ts#L5

These components can be dyna

[2020-02-29 22:36] feg624 opened #81 "Hard time testing with @testing-library/svelte and Jest"
Hi: first of all, I like this component a lot! However, I'm having a hard time when trying to test my app with @testing-library/svelte and Jest.

I've followed the instructions on https://dev.to/jpblancodb/testing-svelte-components-with-jest-53h3 to setup the environment, and was able to transform the Router.svelte file (using jest-transform-svelte) with the following configuration on jest.config.

[2020-02-29 23:04] feg624 commented on #81
One additional attempt I did is the following. I've replaced on Router.svelte

`import regexparam from 'regexparam'`

by

`let regexparam = require('regexparam')`

and after that I'm not having the issue any longer. May this be related to eslint processor used on the svelte-spa-router library?

[2020-02-29 23:39] hmmhmmhm commented on #81
There is a  few presets are required to properly test grammar such as import in the jest.
https://stackoverflow.com/questions/41324636/how-to-import-jest

Svelte implements the user's import grammar through a library called shimport.
I don't think this issue is a problem with this module.

[2020-03-01 16:36] feg624 commented on #81
Thanks for the insights. I'm going to follow that direction.

Regards,

Franco

[2020-03-02 01:50] ItalyPaleAle commented on #81
Hi @feg624 thanks for reporting this.

I think @hmmhmmhm is on the right track. "import" is a modern ES feature and it might not be supported by your testing framework. However, Svelte works with ES modules and I cannot make the change to use require's instead.

[2020-03-02 01:50] #81 closed

[2020-03-02 09:59] pipboy9000 opened #82 "params in empty onMount"
this is where i would usually use this variable, but its empty when accessed from onMount callback.

[2020-03-02 10:36] hmmhmmhm commented on #82
I think you didn't export the variable.
I recommend that you run the following these code.

[code]

[2020-03-02 13:32] pipboy9000 commented on #82
oh ok i think i figured what i was doing wrong..  i didn't define the param i wanted in the routes.js for this component

[2020-03-02 13:32] #82 closed

[2020-03-02 20:34] jacwright commented on #77
@frederikhors, Svelte is great because you can create your own components. Rather than adding anything to a particular routing library, why don't you create a component that does what you are looking to do?

E.g. you suggested a Page component.

`Page.svelte`
[code]

[code]

And of course, since it is your Page component, you can add in loading animations, nest "pages", rename it to Delay.svelte i

[2020-03-05 22:50] ItalyPaleAle opened #83 "<component> was created with unknown prop 'params'"
There's a warning with recent versions of Svelte where components that don't require params cause this message to appear in the console. Will investigate

[2020-03-07 07:22] Pk13055 opened #84 "[Question] Access request headers"
I have a situation wherein an external service is redirecting to the frontend, along with a header that I need to store in the session (readable store in case of svelte). If I could create a route guard that allowed something like
[code]

This would always return true, however allow me to store login info whenever the user does decide to login.

[2020-03-07 10:16] rottmann opened #85 "Browser back button detection"
in routeLoaded event. Is it possible?

From within spa it should be easy, cause spa knows when a regular link is clicked, or a page is loaded, or the the remaining possibility the "back button" is clicked.

From outside spa it needs much boilerplate code (e.g. https://stackoverflow.com/questions/25806608/how-to-detect-browser-back-button-event-cross-browser)

[2020-03-07 13:22] drop1down commented on #83
add this to route-component:
[code]

here is something wrong
params should send to components only, if here is params expected and specified

If i have a route like: "user/:id" - params should be sended
If i have a route like "users" - no params should be sended

[2020-03-08 01:07] hmmhmmhm commented on #84
I had a similar experience. I once dealt with a jwt token that should be controlled by frontend, when I created and managed the store myself.

The code below is the way I used to manage the token. (Of course, important information is need to be using a separate token to block client access using httponly.)
https://github.com/hmmhmmhm/svelte-reusable/blob/master/logics/account.ts#L25

I'm using an

[2020-03-08 01:11] ItalyPaleAle commented on #85
Since this module is designed for SPAs (hence the name!), I don't think we should implement that amount of code for a very specific scenario.

What is your use case? Maybe there's another solution to the problem?

[2020-03-08 01:13] ItalyPaleAle commented on #84
AFAIK it's not possible to access HTTP response headers from JavaScript.

You will need to implement a different authentication solution, I'm afraid! @hmmhmmhm provided some very interesting thoughts.

[2020-03-08 01:13] #84 closed

[2020-03-08 01:16] hmmhmmhm commented on #85
I don't know if it will help, but I think I can share one of my developed examples.
https://github.com/hmmhmmhm/svelte-reusable/blob/master/logics/router.ts#L7

The spa router provides a location store. This allows to detect changes route.
This may allow the user to trace back to the previous page.

[2020-03-08 01:28] #83 closed

[2020-03-08 01:33] ItalyPaleAle commented on #80
An option is, rather than using route guards, to direct all your routes to a single component (matching `*`). Let's call that component `Gate`.

Inside `Gate` you use a dynamically-loaded component (see [`<svelte:component>`](https://svelte.dev/docs#svelte_component)) to decide if you want to show either of:

- a 403 component
- another Router component (a nested Router) that actually shows the ro

[2020-03-08 01:33] #80 closed

[2020-03-08 01:33] hmmhmmhm commented on #83
Thank you for the update!!

[2020-03-08 01:35] ItalyPaleAle commented on #83
I'm going through the other open issues and will issue a release soon :)

[2020-03-08 01:48] ItalyPaleAle commented on #78
@drop1down I've updated the code on master to remove the use of for..of. This _should_ make it more compatible with your situation. Let me know if this works.

However, please note that support for old, deprecated browsers (like IE) is not really in scope for this project, so it's always going to be a best-effort kind of scenario!

[2020-03-08 01:48] #78 closed

[2020-03-08 01:58] #67 closed

[2020-03-08 01:58] ItalyPaleAle commented on #67
Support for regular expressions in `use:active` has been added in https://github.com/ItalyPaleAle/svelte-spa-router/commit/1f4788201c605e8fc4a1acccc4d5bbbe51c548a2 :) Sorry this took so long!

[2020-03-08 03:40] ItalyPaleAle commented on #69
Hi @braintapper sorry for the delay. I cannot reproduce the issue, at least with the most-recent versions of Svelte.

Can you please try again with the latest version of Svelte and see if it works? If not, can you share a repro?

[2020-03-08 03:42] ItalyPaleAle commented on #72
Sorry for the delay. Can you please share a sample repro so I can understand exactly the issue?

[2020-03-08 03:43] ItalyPaleAle commented on #75
Hi are you still having this issue? Can you please share a repro?

[2020-03-08 03:43] ItalyPaleAle commented on #75
Were you able to fix this issue?

[2020-03-08 03:47] ItalyPaleAle commented on #77
@hmmhmmhm and @jacwright provided great insights and help (thanks both!!)

I still think this is something best solved by a custom component (an intermediate component that loads your routes), rather than on the router itself.

[2020-03-08 03:47] #77 closed

[2020-03-08 09:01] hmmhmmhm commented on #75
I know exactly where this is a problem and how to fix it.

The css transition of the svelte requires the use of the
same bundle when used between external components.

The current import code is as follows.

[code]

Modifying the above code as shown below will solve the problem.

[code]

This problem is svelte's problem, so there are common errors in all bundlers.
(Rollup, Parcel, Webpack anything

[2020-03-08 10:00] rottmann commented on #85
I slide a page to a subpage (from right to left).
Within the subpage you can press a button and slide back (from left to right), red box in example image. That works.
Example image: https://imgur.com/nlhffaG

But when you press the browsers back button i did not have the direction to slide back.

Yes i know i could set it manually by default from left to right, but when you click a main navigation

[2020-03-08 12:05] Pk13055 commented on #84
I know the issue is closed, but I ended up using `getContext` and
`setContext` along with some flags to achieve the desired result. Thanks!

On Sun, Mar 8, 2020 at 6:43 AM Alessandro (Ale) Segala <
notifications@github.com> wrote:

--

*Regards*
Pratik Kamble

[2020-03-09 16:53] luisbello30 opened #86 "What about the changelog?"
First congratulations for the excellent module, great job

I am attentive to the changes in the library and keep my development updated, it would be very useful to have a record of the changes in the new versions.

I know it's an extra job but I'm sure many would appreciate it

[2020-03-09 16:59] ItalyPaleAle commented on #86
You can find the detailed changelog in the Releases tab: https://github.com/ItalyPaleAle/svelte-spa-router/releases

If you’re upgrading from 1.x check out also the UPGRADING file in the repo for how to deal with a few (small) breaking changes

[2020-03-09 16:59] #86 closed

[2020-03-09 17:43] braintapper commented on #69
Hi @ItalyPaleAle

I have not revisited that issue for a long time, as my workaround (prefixing my urls with `#`) used fewer characters of code and didn't require an import of `{link}`. I believe I was using svelte-spa-router 1.x when I encountered that issue.

It now appears to work with svelte 3.18.2 and svelte-spa-router 2.0.0. You can close this issue.

[2020-03-09 17:45] ItalyPaleAle commented on #69
Thanks for confirming!

[2020-03-09 17:45] #69 closed

[2020-03-10 01:35] ItalyPaleAle commented on #85
I don't think this is something we can help with the router, I'm afraid, sorry!

[2020-03-10 01:35] #85 closed

[2020-03-10 23:35] christopherbecker opened #88 "Remove Hash"
Hi,

First of all, good job with this package it works really well.

I have a question, is there any way to get rid of the hash. I've read the documentation and I could only find that it is a hash based router.

Thanks,

Christopher

[2020-03-10 23:36] christopherbecker opened #89 "hash"

[2020-03-10 23:36] #89 closed

[2020-03-11 01:23] ItalyPaleAle commented on #88
Hi there, the hash is actually a feature of this router.

There are two ways to do client-side routing:

- Hash-based, which is also the older one. This works because when you change the hash of the page, browsers add a new entry in the history. We've been doing this for a VERY long time (the first "AJAX web apps" were using this technique!), but that doesn't mean it's outdated: GMail uses hash-ba

[2020-03-11 01:23] #88 closed

[2020-03-11 04:03] ItalyPaleAle commented on #75
Closing as this doesn't seem to be an issue with the router. Thanks all for the great discussion!

[2020-03-11 04:03] #75 closed

[2020-03-16 11:09] hmmhmmhm opened #90 "(ONLY 2.0.1) Component recycling issues when routing with parameters"
## Issue Overview

Components with parameters, such as /route/:id, are reused.
2.0.0 does not cause this reuse, but it does occur at 2.0.1 .

## How to reproduce

[code]
And you can check localhost url,
If you enter to that url, you will see a yellow window (yellow Routing Path: `/a`)
Now click on the yellow window to switch to the blue window (path to blue: `/b/blabla`)

And click on the blue win

[2020-03-16 11:10] hmmhmmhm commented on #90
I think some recent changes in grammar are causing this difference.

[2020-03-17 00:45] ItalyPaleAle commented on #90
This was a real heisenbug!

I've looked into this quite a bit, and I also noticed that the issue isn't with the route`/a`, but with any third route you open. For example, if you start (refresh page) from `http://localhost:8080/#/b/blabla` and then click on the colors twice, it will show a white page too.

Lots of debugging later, it seems that the issue is with concurrency because of the `out:flas

[2020-03-17 01:13] hmmhmmhm commented on #90
OK, I don't know exactly, I'll going to go back to tracking this issue when the my company works done. Thank you for checking.

[2020-03-17 01:55] hmmhmmhm commented on #90
@ItalyPaleAle

Hello, I found the cause when I came to work in the morning and looked at the issue. ( https://github.com/ItalyPaleAle/svelte-spa-router/commit/4d693798cfd74a3ab0fc6c3a848d386c53ad4727 )
The issue I tagged above is the cause, and I think the more accurate cause is the following.

[code]

By the "if statement" used above, both types of
components available in the "if statement" are c

[2020-03-17 02:34] ItalyPaleAle commented on #90
Ok, I understand.

That if statement was necessary because of #83, and I can't remove it.

It seems that only your specific code is impacted, however, in a narrow scenario: when there's a transition (doesn't happen if you remove the transition), and when the component is dynamically loaded.

What if this was an upstream issue with Svelte itself?

[2020-03-17 02:34] #90 closed

[2020-03-17 04:26] hmmhmmhm commented on #90
okay, so I think I'll have to bypass this by implementing algorithms that are not affected by recycling... Thanks again.

[2020-03-17 04:35] ItalyPaleAle commented on #90
If I could implement a fix in the router, any suggestion on what it could be?

[2020-03-17 12:34] dVp007 opened #91 "How to perform internal linking?"
[code]

[2020-03-17 15:11] ItalyPaleAle commented on #91
Please take a look at #62

[2020-03-17 15:11] #91 closed

[2020-03-17 21:28] MerlinB opened #92 "Svelvet compatibility"
When trying to set up the router with https://github.com/jakedeichert/svelvet (Using https://www.snowpack.dev/ instead of Rollup/Webpack), it fails with the following traceback:

[code]

Here is a simple Svelvet setup with the svelte-spa-router example page:
https://github.com/MerlinB/svelte-spa-router-example

[2020-03-18 00:05] ItalyPaleAle commented on #92
Thanks. I've looked into this, but I am leaning towards thinking this issue is with [svelvet](https://github.com/jakedeichert/svelvet). It seems that when Svelvet compiles all components into ES Modules, but it's not working well with dynamically-loaded components.

Proof point: if in `Router.svelte` I replace:

[code]

with:

[code]

This works.

It seems that it just doesn't like dynamic modules

[2020-03-18 01:55] pal03377 opened #93 "`replace` triggers `DOMException`"
I noticed my browser did weird things when I used the `replace` function provided by `svelte-spa-router`. In my case the route was somehow duplicated and I tried to reproduce this with a minimal example in the Svelte Repl.

In the Svelte Repl, when trying to navigate with `replace`, just a `DOMException` is thrown. This does not seem to be expected behavior (if I read the documentation correctly):

[2020-03-18 02:05] ItalyPaleAle commented on #93
This is very interesting. I can replicate on the REPL too, but not outside of the REPL. Can you replicate this in a "normal" app?

[2020-03-18 02:17] ItalyPaleAle commented on #93
I've done some more debugging and it seems that the issue is with the REPL not fully supporting `Window.history`. Can you confirm if the issue happens outside of the REPL too?

[2020-03-18 02:17] #93 closed

[2020-03-18 02:19] pal03377 commented on #93
I tried and the issue does not exist outside the REPL. Thanks for investigating!
I still need to track down that route duplication issue, but I will get back to that when I can reproduce it in a minimal environment.

Thanks again!

[2020-03-18 18:44] ItalyPaleAle commented on #93
What do you mean with “route duplication issue”?

Anyways, thanks for confirming this is an issue with the REPL. I think I can make a code change to detect that scenario and issue a warning in the console, to make the DX a bit better.

[2020-03-18 19:23] pal03377 commented on #93
In some very specific cases that I could not yet track down (I think it may have something to do with calling `push` or `replace` before a component mount or too fast one after another), I'm getting my route inserted into DOM twice.

I have a div in which my `<Router { routes } />` lives and each of my routes is wrapped within a `<div>` of its own. Sometimes however, my wrapper has two children th

[2020-03-18 19:34] ItalyPaleAle commented on #93
All navigation method (`push`, `pop`, `replace`) already wait for the next tick: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Router.svelte#L120

So, `await`'ing in your code *shouldn't* be necessary, unless you are doing some async work yourself...

[2020-03-21 06:55] jcschmidig commented on #72
A very simple approach could be to change the following line in Router.svelte

<svelte:component this="{component}" **on:routeEvent**/ > (lines 208/210)

This way, a component instantiated by the router could dispatch a "routeEvent" event and the component instantiating the router could listen to the this event.

[2020-03-21 14:44] jakedeichert commented on #92
Hey @ItalyPaleAle! I just dug into this over here: https://github.com/jakedeichert/svelvet/issues/69#issuecomment-602054402

Looks like the issue can be fixed on this side 😅

Can you take a peek at my comment I linked ^^, i posted a solution there, which follows svelte's API docs.

Regarding this point, @MerlinB wasn't doing a dynamic import either. All the routes are [statically imported](https:/

[2020-03-21 17:21] ItalyPaleAle commented on #92
@jakedeichert Thanks a lot for figuring that thing out! Silly mistake on my end.

I'll make the fix right now and work on a release today.

[2020-03-21 19:37] ItalyPaleAle commented on #92
@jakedeichert I just did the change but it actually doesn't work. You can see that the code compiles, but no component is loaded in the router. I'll have to revert the change...

[2020-03-21 19:42] jakedeichert commented on #92
Yeah, that's my concern. That fix **works for svelvet**  and it follows [svelte's API docs](https://svelte.dev/docs#svelte_component).

<img width="1183" alt="Screen Shot 2020-03-21 at 3 40 26 PM" src="https://user-images.githubusercontent.com/1631044/77235209-4d042e80-6b8a-11ea-81d3-bae60f087a14.png">

But for some reason, I assume your project has been working all along without that extra `.comp

[2020-03-21 19:46] ItalyPaleAle commented on #92
I think the Svelte API docs is showing an example in which the component is inside a dictionary. It's probably something unclear with the docs? Using `component` alone is the only thing that works for us.

Also, if you look at your screenshot in https://github.com/jakedeichert/svelvet/issues/69#issuecomment-602054402 you see that even there, no route is loaded. You can see the router, but it's not

[2020-03-21 19:47] jakedeichert commented on #92
oh. Literally had no console errors at all when testing that.

I'll investigate more

[2020-03-21 19:49] ItalyPaleAle commented on #92
The `/` route should look like the screenshot below. Your screenshot is missing the highlighted part, which is the `Home` component:

<img width="1185" alt="image" src="https://user-images.githubusercontent.com/43508/77235383-5d101400-6b72-11ea-9456-4ef1f292f1e0.png">

[2020-03-21 19:54] ItalyPaleAle commented on #72
@jcschmidig Thanks for clarifying the issue to me and for providing a solution too! wow 😄  I've made the code change and planning to merge into master soon

[2020-03-21 20:16] #72 closed

[2020-03-21 20:22] jakedeichert commented on #92
@ItalyPaleAle @MerlinB Dev mode fix is documented here https://github.com/jakedeichert/svelvet/issues/69#issuecomment-602098919

Sorry about this @ItalyPaleAle 😓

Thanks for the help debugging!

[2020-03-21 20:24] ItalyPaleAle commented on #92
Thanks for working on this and for figuring out the issue! Glad you sorted it out (at least for dev mode :) )

[2020-03-21 20:24] #92 closed

[2020-03-22 20:18] MerlinB commented on #92
Thank you both alot for your work in fixing this!

[2020-03-24 13:35] yunfeizhu opened #96 "'Global Route Guards'"
Hi @ItalyPaleAle
    I find 'Route pre-conditions' in the document, it is like 'Per-Route Guard' in [Vue-Router#Per-Route Guard](https://router.vuejs.org/guide/advanced/navigation-guards.html#per-route-guard). Does it have a 'Global Route Guards' like 'Global Before Guards' in [Vue-Routerl#global-before-guards](https://router.vuejs.org/guide/advanced/navigation-guards.html#global-before-guards)

[2020-03-24 15:20] yunfeizhu commented on #96
I have read issue #46. Your idea is to wrap a function and pass in the wrap method for each route. But as a developer who uses Vue a lot, I felt it was important to provide a global routing hook. Is there really no way to intercept every routing request globally?

[2020-03-24 15:36] ItalyPaleAle commented on #96
Not at the moment.

My goal is to keep the router's APIs as simple as possible, so the learning curve is minimal. Compare the size of Vue-Router's docs with this one's, for example!

Right now, the `Router` component is configured with just one dictionary that lists all routes, plus an optional event listener. Adding global configurations would require adding a "config" object, and things would st

[2020-03-24 15:36] #96 closed

[2020-03-24 15:56] yunfeizhu commented on #96
@ItalyPaleAle  Thank you for the reply,
I am just a beginner of svelte and have only studied for a few days. 😝 I have been using Vue for development, this time there is a new project I want to try Svelte. So some of the ideas about svelte-spa-router that I have are based on Vue-router. Maybe I should spend some time trying to read source code for this project and try to create a PR.

[2020-04-01 18:23] mphuie opened #97 "Nested route child components don't re-render"
I have a simple master-detail 2 pane view, using nested routes.

I've noticed that when I click on a child link, the component only renders once.  Subsequent clicks on other links change the URL, but the component isn't rerendered.

I saw another thread on this, but can't figure out how to destroy/re-create the child component.  Is there a good way to do this?  `params` updates but the my child co

[2020-04-01 18:35] frederikhors commented on #97
REPL please.

[2020-04-01 18:37] ItalyPaleAle commented on #97
So, if the component doesn't change, Svelte doesn't re-create it, and this is by design.

However, there could be a relatively simple solution here to your problem: rather than fetching the data in an `onMount` callback, you could listen to the `params` object and invoke your method reactively.

For example, from:

[code]

To:

[code]

(Untested, but hopefully it gives you the idea!)

[2020-04-01 18:41] mphuie commented on #97
Thanks for the quick reply, will try that.  For now I was putting my component in an `#if` block and setting it to false, then true in a `setTimeout` to get it to re-render.

`function setSelected(id) {
    selectedId = null;
    setTimeout(() => selectedId = id, 0);
}`

[2020-04-01 18:48] ItalyPaleAle commented on #97
That might work too.

I'm closing this issue but feel free to comment more if it doesn't work.

[2020-04-01 18:48] #97 closed

[2020-04-02 07:18] drop1down opened #98 "again: <component> was created with unknown prop 'params'"
It seems that this bug is not fully fixed:
https://github.com/ItalyPaleAle/svelte-spa-router/issues/83

404-Components still have this issue for me

[code]

[2020-04-02 17:12] ItalyPaleAle commented on #98
This is a good point but it's not something I can fix.

First, please note that it's just a warning that Svelte (not the router) emits, so: it won't break your app, and it's not something we can disable.

The fix for #83 consisted in passing the `params` prop only if there's a match in the path. That is, if your path is a fixed one (such as `/hello/world`) then there's nothing matched, so the rout

[2020-04-02 17:12] #98 closed

[2020-04-04 02:37] xellDart opened #99 "Caught exception while replacing the current page. If you're running this in the Svelte REPL, please note that the `replace` method might not work in this environment."
Hi I try to deploy my app to production using
 sirve public --host 0.0.0.0

but I get Caught exception while replacing the current page. If you're running this in the Svelte REPL, please note that the `replace` method might not work in this environment.

[2020-04-04 02:38] ItalyPaleAle commented on #99
Can you share some code to reproduce this?

Also, what browser is this happening in?

[2020-04-04 02:45] xellDart commented on #99
In all browser, my code is:

`const route = (component) => {
    return wrap(
        component,
        () => {
            return get(access) === ""
        },
    )
};

export const routes = {
    '/':  wrap(
        Principal,
        () => {
           return get(access) !== ""
        },
    ),
    '/register': route(Register),
    '/reset': route(ResetPassword),
    '/company': Company,

[2020-04-04 02:57] ItalyPaleAle commented on #99
I'm sorry, I will need more code to be able to replicate the issue. This is missing the definition of all components.

Any chance you could create a repo that contains just enough code to replicate this?

In any case, note that `sirv` is not very stable (apparently), and there are known issues with using it with this router. Not exactly sure why, but myself and other users (see #22) have reported

[2020-04-04 02:58] ItalyPaleAle commented on #99
Can you try using a different server rather than sirv? For the sample, we use [serve](https://github.com/zeit/serve), which seems much more stable.

When running apps in production, most users prefer to use a "regular" web server (something like nginx), rather than a Node.js app, for various reasons, including security and performance. Many users that build SPAs with this router also deploy them o

[2020-04-05 14:51] chovy opened #100 "Google isn't able to crawl this router"
I have other sites using svelte-router and it crawls just fine. svelte-spa-router isn't getting crawled by googlebot. only the home page.

[2020-04-05 16:40] ItalyPaleAle commented on #100
This is not uncommon when using [hash-based routing](https://github.com/ItalyPaleAle/svelte-spa-router#hash-based-routing) and it’s how search engines work.

This router is optimized for SPA’s such as SaaS and others where search engine crawling isn’t required. If you need that, then a PWA (which isn’t supported by this router) might be a better option for you.

[2020-04-05 16:40] #100 closed

[2020-04-05 16:41] ItalyPaleAle commented on #99
@xellDart did using a separate server fix the issue?

[2020-04-05 16:48] frederikhors commented on #100
@ItalyPaleAle thanks for always being so kind, calm and precise in your answers. Even to questions that have nothing to do with this project.

[2020-04-06 00:35] ramiroaisen opened #101 "Preload implementation"
i! very nice project,

I have an idea, that i will implement in a fork of this, but if your ok with it i'll make a PR.

The idea is that each component could export a preload function just like in sapper and then the router would first call preload to get the initial props

If its a promise the router will wait for it to resolve and then pass the props to the component instance

if the component d

[2020-04-06 01:04] hmmhmmhm commented on #101
First of all, i think it is a very nice plan.
However, although the intention is good,
there are restrictions on browsers in the same way as above.

I remember that prefetch was able to operate
normally only if the exact file was named href.

If I remember correctly, just because the html file is referred to as prefetch does not
apply prefetch to all resources that are inductively used on that pag

[2020-04-06 01:17] hmmhmmhm commented on #73
Maybe I can find time to look up about this this this weekend. If I don't work overtime...

[2020-04-07 15:51] frederikhors opened #102 "From 2.1.0 components re-rendered if navigating from parent to nested one"
Dear @ItalyPaleAle,

updating from `2.0.0` to `2.1.0` I have a problem.

[code]

With `2.0.0` `players` is not updated when I navigate from `/players` to `/players/1` and my `players`'s `onMount` animations are OK.

With `2.1.0` `players` is updated when I navigate from `/players` to `/players/1` and my `players`'s `onMount` animations are repeated everytime.

Is this what you want to happen?

[2020-04-07 15:53] frederikhors commented on #98
This is very annoying and I think there must be a better solution.

[2020-04-07 15:57] ItalyPaleAle commented on #98
@frederikhors I'm happy to accept PRs :)

[2020-04-07 16:04] ItalyPaleAle commented on #102
I think I understand why this is happening, and it's connected to the fix for #83

https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Router.svelte#L207-L211

In 2.0.1+, it causes the router to re-render when the component or the params change. In your example above, `/players` has no params, and `/players/*` has the wildcard, so it triggers the IF statement and the re-rendering.

The r

[2020-04-07 16:04] #102 closed

[2020-04-07 16:08] frederikhors commented on #102
Too bad. Until `2.0.0` this router was awesome!

[2020-04-07 16:11] ItalyPaleAle commented on #102
My apologies, because of a change upstream in Svelte I was forced to make that code change.

Hopefully the solution I proposed above works for you. That should not cause a re-rendering

[2020-04-07 17:15] frederikhors commented on #102
Is there some performance decrease using that regex?

This pages are displayed on small HW. Every fps matters.

[2020-04-07 18:08] ItalyPaleAle commented on #102
When you use a string in the router, behind the scene it is converted to a regular expression using https://github.com/lukeed/regexparam . For example, `'/players/*'` becomes `/^\/players\/(.*)\/?$/i`

So, it's using a RegEx regardless. Not sure how small that HW is, but at this point, simple regular expressions in JS should be performant enough.

The biggest difference is that you can't use a sim

[2020-04-08 07:39] frederikhors commented on #98
I wish I was capable of.

[2020-04-08 07:48] frederikhors commented on #98
I opened this: https://github.com/sveltejs/svelte/issues/4652.

We'll see.

[2020-04-08 12:54] frederikhors commented on #102
@ItalyPaleAle

`routes.set(/^\/players(\/(.*?))/i, wrap(players, auth))` doesn't work.

[2020-04-08 12:58] frederikhors commented on #102
It gets also `/players/`.

But I need all these:

[code]

[2020-04-08 13:02] frederikhors commented on #102
The correct one is:

`routes.set(/^\/players(\/(.*))?/i, ...)`

[2020-04-08 15:03] ItalyPaleAle commented on #98
Thank you! I had opened another issue too asking for an API, but your approach seems better :)

[2020-04-08 15:38] ItalyPaleAle commented on #102
You're, right, I should have tested the regex more carefully before sending it to you.

If IDs are only numeric, you can also simplify it as:

[code]
(this time, I did test it with your 3 cases :) )

[2020-04-08 15:43] frederikhors commented on #98
What is your issue? Can you link here?

[2020-04-08 15:43] frederikhors commented on #98
I <3 you and your router!

[2020-04-08 15:44] ItalyPaleAle commented on #98
https://github.com/sveltejs/svelte/issues/4649

Thank you! :)

[2020-04-09 19:39] xellDart commented on #99
Sorry, I can't fix this

[2020-04-09 20:08] ItalyPaleAle commented on #99
I want to help you but I need more information :)

What have you tried?

Can you share a repository with just enough code to reproduce this?

[2020-04-09 20:10] ItalyPaleAle commented on #101
Hey @ramiroaisen thanks for this suggestion. Would you be able to create a sample API to demonstrate this? That is: a sample of what kind of code you'd like to be able to write (not asking you to implement this, but just to show me what would be possible with it :) )

Is this just for asynchronous loading of routes like @hmmhmmhm describes?

[2020-04-10 16:39] xellDart commented on #99
this is my code https://gitlab.com/xellCoders.go/nebulaadmin

[2020-04-10 20:56] frederikhors opened #103 "Broken bundlephobia"
It never happened to me before: `svelte-spa-router` can't be bundlephobied: https://bundlephobia.com/result?p=svelte-spa-router

Can I ask you why?

[2020-04-10 21:05] ItalyPaleAle commented on #103
(Disclaimer: I am not familiar with bundlephobia)

Looking at the error message:

[code]

Looks like bundlephobia doesn't support Svelte? As you know, to use Svelte with webpack you need to add the svelte-loader and support the `.svelte` extension

[2020-04-10 21:06] frederikhors commented on #103
Yea. But I tried other Svelte packages too and no problem! 😄

[2020-04-10 21:07] frederikhors commented on #103
Great work with your router's size anyway!

[2020-04-10 21:14] frederikhors opened #104 "Promise and lazy routes..."
Looking at `yrv` router (a good router!) we can see **two ways** of importing routes:

[code]

With https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#async-route-loading we have just the **lazy** one. Am I correct?

I think it would be useful (and amazing) to have both in `svelte-spa-router` (three-shaked if we do not use them).

The promise way I think is amazing b

[2020-04-10 21:15] ItalyPaleAle commented on #103
I tried other Svelte modules. Some work, some don't.

It seems that those who work are exporting pre-compiled files. This router is not. I have decided not to export a pre-compiled file because:

1. This router wouldn't make sense as a standalone component anyways. It's designed to be used with Svelte 3 and only with it
2. I prefer users to compile the router themselves, so they use the same versi

[2020-04-10 21:16] ItalyPaleAle commented on #103
Closing this as it's not an issue with the router itself, but a bug with bundlephobia

[2020-04-10 21:16] #103 closed

[2020-04-10 21:17] frederikhors commented on #103
I agree with you!

[2020-04-10 21:18] ItalyPaleAle commented on #104
This is a valid point and related to #73.

Given the work @hmmhmmhm has done, which I think is really good, I haven't put much effort trying a first-party solution for #73.

However, I'm open to accept PRs :)

[2020-04-10 21:27] frederikhors commented on #73
@hmmhmmhm it would be amazing: read here: https://github.com/ItalyPaleAle/svelte-spa-router/issues/104

[2020-04-10 22:19] frederikhors commented on #104
@ItalyPaleAle I found many issues with `svelte-spa-chunk` (also with style code in it: https://github.com/hmmhmmhm/svelte-spa-chunk/blob/master/Chunk.svelte#L40-L46 which interferes with my application global style).

I'll open issues as soon it works on REPL (https://github.com/hmmhmmhm/svelte-spa-chunk/issues/3).

From some tests that I did it showed an increase of about 10 KB using it (but test

[2020-04-11 11:46] frederikhors commented on #104
Look what `yrv` does for this: https://github.com/pateketrueke/yrv/blob/master/src/Route.svelte#L75-L91:

[code]

[2020-04-11 12:34] frederikhors commented on #104
I tried some code and it works.

It loads route but I'm having issues with this:

[code]

[2020-04-11 12:40] frederikhors commented on #104
I think we do not need `svelte-loadable` (which `svelte-spa-chunk` uses).

Code splitting comes free from Rollup.

We need only to handle `promise` and `lazy` import in `Router.svelte`.

I think you can do it in a few minutes.

[2020-04-12 09:09] hmmhmmhm commented on #73
@frederikhors  What you said is a different issue from AAA.
Since you left an issue in my report, I will answer it here https://github.com/hmmhmmhm/svelte-spa-chunk/issues/3.

[2020-04-12 09:30] hmmhmmhm commented on #104
@frederikhors

First of all, I will answer the issue that occurred in my chunk module in the post you left.
( https://github.com/hmmhmmhm/svelte-spa-chunk/issues/3 )

I am currently providing an example of Code Splitting in the form of a template based on Parcel.
( https://github.com/hmmhmmhm/svelte-spa-template )

The last time I tried the split code in Rollup, there were a lot of problems.
When

[2020-04-12 13:07] frederikhors commented on #104
@hmmhmmhm thanks for your commitment.

I'm not an expert here. I think your work is valuable. But can you please look at https://github.com/ItalyPaleAle/svelte-spa-router/issues/104#issuecomment-612401975 which comes from `yrv` router (https://github.com/pateketrueke/yrv)?

`yrv` is not using `svelte-loadable` and it works great!

[2020-04-12 13:12] frederikhors opened #105 "Use Svelte store for params"
@ItalyPaleAle maybe this is a "revolutionary" idea!

@pateketrueke had it here: https://github.com/pateketrueke/yrv/issues/40#issuecomment-612526432.

Basically we could use a Svelte store for params for the current route and avoid to pass params to remove `<PageX> was created with unknown prop 'params'` warnings at all.

What do you think about?

[2020-04-12 13:30] hmmhmmhm commented on #104
@frederikhors  OK! I will check it within this week and if possible, I will apply it to the spa-router. I'm sorry that I can't check early because I have a bad cold.

[2020-04-12 16:36] ItalyPaleAle commented on #105
I think it’s definitely a good idea, BUT it is also a major breaking change.

I don’t know if this change would get more people upset?

[2020-04-12 16:54] frederikhors commented on #105
v3.0.0 😄

We are happy!

[2020-04-12 17:02] ItalyPaleAle commented on #105
I get semver and v3.0.0....  But I think this needs more discussion. Last week this module had 1,170 downloads, and I need to consider everyone's needs. Is a warning only at dev time worse than a large breaking change for thousands of apps?

I also think we should at least wait for https://github.com/sveltejs/svelte/issues/4649 and https://github.com/sveltejs/svelte/issues/4652 before making any d

[2020-04-12 17:37] frederikhors commented on #105
I agree. 😃

[2020-04-14 16:51] PierBover opened #106 "What happens when a nested router does't find a route?"
Does the top parent router go to the catch all route?

[2020-04-14 17:16] ItalyPaleAle commented on #106
No, when a nested router doesn't find a route, it doesn't impact the outer router. For the outer router, there's still a match (the fact that the nested router is shown is a sign that there's a match).

[2020-04-14 17:16] #106 closed

[2020-04-14 17:22] PierBover commented on #106
For the users there is only a single URL though.

What would be the way to redirect the user to an error page if any of the sub routers fail to find a match?

[2020-04-14 17:30] ItalyPaleAle commented on #106
You could create a `*` route in your nested router that calls `replace()` and sends people to another "not found" route.

What is the structure of your routers and routes? Maybe there can be other ways too.

[2020-04-14 17:35] PierBover commented on #106
Thanks for the suggestion.

I'm just evaluating Svelte routers before I decide which one to use.

[2020-04-17 15:51] jesseskinner opened #107 "URL params should be decoded"
If I have a route like `#/path/:param` and my URL is `#/path/My%20Param`, I would expect the param value to be "My Param" but it ends up as "My%20Param", forcing me to run `decodeURIComponent` on each value.

Is this expected behaviour, or a bug in svelte-spa-router?

[2020-04-17 15:58] ItalyPaleAle commented on #107
I have noticed it myself in a couple of apps I built.

I would say it was not an intentional behavior, but in the apps I built I've fixed it in the application code.

At this stage, however, I wonder if a fix for this in the router would have to be considered a breaking one, so something that would require a version 3.

[2020-04-17 15:59] ItalyPaleAle commented on #99
@xellDart I am getting a 404 on that link

[2020-04-17 16:20] ItalyPaleAle commented on #99
I figured the issue. It's not the server.

In your `App.svelte`:

[code]

This is causing a redirection loop when the app is compiled for production. The reason is that when the code is minified, the class name changes and it's not `Principal` anymore. This doesn't happen in development because the code isn't minified.

How you can fix it: rather than relying on `event.detail.name`, pass custom us

[2020-04-17 16:31] frederikhors commented on #107
Version 3 with my beloved https://github.com/ItalyPaleAle/svelte-spa-router/issues/105 and https://github.com/ItalyPaleAle/svelte-spa-router/issues/105! 😄 😄 😄

[2020-04-17 16:31] frederikhors commented on #107
Can we create a project here: https://github.com/ItalyPaleAle/svelte-spa-router/projects?

[2020-04-17 19:56] ItalyPaleAle commented on #107
Let's discuss #105 separately... As i mentioned in that issue, I am waiting for changes upstream (and I still think they should fix it upstream first). While both are breaking changes, the impact is stunningly different.

[2020-04-18 00:41] #99 closed

[2020-04-18 00:44] ItalyPaleAle commented on #107
@jesseskinner Thinking more about it, this makes sense. I've accepted this and will implement it for 3.0.
Thanks for the suggestion!

[2020-04-18 00:45] ItalyPaleAle commented on #104
Thanks for the great discussion. I think y'all are right and it's time we implement this natively in the router.

@hmmhmmhm let me know if you are able to work on a PR. If you can, I'd greatly appreciate it, but no pressure :)

I'm scheduling this for 3.0

[2020-04-18 01:10] ItalyPaleAle commented on #107
Fixed in branch v3.0-wip. Will be merged to master when I'm ready to release 3.0

[2020-04-18 16:58] jesseskinner commented on #107
@ItalyPaleAle that's great, thanks!

[2020-04-22 10:00] frederikhors opened #108 "Broken on codesandbox, can we fix or can we not?"
I'm using this amazing router on many Codesandbox projects to show issues in other svelte's projects.

I have to report an oddity that is happening on Codesandbox.

**Reproduction steps**:

1. go to [this CSB REPL](https://codesandbox.io/s/svelte-spa-router-cannot-read-property-removechild-of-null-mfy1s)

1. navigate from "Home" to "Posts"; it works, but

1. as soon as I edit something and try to

[2020-04-22 15:57] ItalyPaleAle commented on #108
I took a look at your codesanbox. I can reproduce it, but the error stack trace makes it look like this is not an issue with the router itself, but rather with the compiled code.

I don't know if this is more of a downstream issue (codesandbox) or upstream (the Svelte compiler), but I don't think this is something I can work on…

Can you try opening an issue with codesandbox and see what they can

[2020-04-22 15:57] #108 closed

[2020-04-22 17:28] mphuie opened #109 "Nested router on / not working"
I can get nested routes working under a /subpath like this

    "/resources": Resources,
    "/resources/*": Resources

But I can't get it to work with `/`.  ie.

    "/": Resources,
    "/*: Resources

With `prefix = "/"` in Resources.svelte.

Is there something special I need to do this to work?

[2020-04-22 17:31] mphuie commented on #109
It works with `prefix = ""`.   Closing

[2020-04-22 17:31] #109 closed

[2020-04-22 18:49] frederikhors commented on #108
Done: https://github.com/codesandbox/codesandbox-client/issues/3974.

[2020-05-01 12:24] Escalion opened #110 "Using spa router accessing index.html without server results in redirect to /#/"
After performing a rollup, accessing index.html directly (ie. when used in conjunction with an app like cordova, or opening the index.html file directly in the browser) results in a redirect to /#/.

Expected behaviour: redirect to index.html#/
Actual behaviour: redirect to /#/

[2020-05-01 13:37] Escalion commented on #110
This turned out to be a mistake in the application and not the router, after many step throughs. Closing, thanks

[2020-05-01 13:37] #110 closed

[2020-05-02 09:44] nnfans opened #111 "Child out transition block navigation"
Any `out` transition nested in component route will block the navigation
It would be great if out transition canceled whenever navigate to other page

Currently I just use the `in` transition at any component inside route component

[2020-05-02 10:00] nnfans commented on #111
Oh I forgot to add `|local` modifier

closed

[2020-05-02 10:00] #111 closed

[2020-05-03 15:42] frederikhors commented on #104
Dear @ItalyPaleAle,

I figured out how to use lazy and "preloaded" routes in `svelte-spa-router` as it is today.

This is an example: https://codesandbox.io/s/svelte-spa-router-lazy-and-promises-routes-7zthn.

Do you have suggestions?

For example I'm already repeating the `Root.svelte` component for each route:

[code]

and for "preloaded" routes  I'm using this:

[code]

which maybe is not very

[2020-05-07 19:53] Tazeg opened #112 "Pre-conditions (route guards) to handle close modal"
Hello, svelte-spa-router is really fine and works as expected. Thank you.

But I need to handle the browser history back to close a modal.
So i have read the doc at https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#route-pre-conditions

I have a store variable which tells me if I accept to route or not.

If not, I expected "svelte-spa-router" to do nothing. Sure it

[2020-05-07 20:17] ItalyPaleAle commented on #112
Thanks for bringing up this issue.

You’re right in pointing out that no component is loaded, but this is the intended behavior. The router can’t stop a page navigation, and this is a limitation in JavaScript itself. We can not prevent a user from clicking the back button, for example.

One option for you could be to invoke in the route guard function the “replace” method, just before returning fa

[2020-05-07 20:33] Tazeg commented on #112
Yes, i have read about that but i confirm that the Vue.js code really works. But I can't help to tell how it works.

Sure, but I'd like to handle it : close the modal and do nothing else.

That's exactly what i don't want. I have a page with a component state. I open a modal. When the user click the browser back navigation button. I just want no close the modal. Not so easy finally...

[2020-05-07 20:37] ItalyPaleAle commented on #112
I'll take a look at this and see what can be done

[2020-05-11 02:57] dmgolembiowski opened #113 "[enhancement] "Clone-able" template with npx"
This might sound amateurish but I believe [svelte-spa-router](https://github.com/ItalyPaleAle/svelte-spa/router) is a strong candidate for a separate template repository. It would be a massively useful skeleton to clone with `npx` and could be hugely beneficial to the Svelte community -- especially for younger devs like myself. Moreover, this kind of gold standard would serve as a useful benchmark

[2020-05-11 05:11] hmmhmmhm opened #114 "Clean page-move animation like iOS?"
I am currently implementing page movement effect
by applying CSS Transition effect provided by Svelte.

However, page in: and out: options alone make it
difficult to create the right effect, such as native apps.

(For example, when you enter a page, the page slides to
the left, and when you come out, the page slides to the right,
and sometimes the other way around.)

I've been trying to do this an

[2020-05-11 21:50] Tazeg commented on #112
I found a simple workaround. Finally, in that specific case it is not related to a router.

If it helps. Here was my case : I created a full page component (usually called dialog or modal) to display a "About" page.

`About.svelte`

[code]

As the about page can be launched anywhere in the app, we keep track of the `isOpenAbout` boolean value in the store.js :

[code]

Anywhere in the app we can s

[2020-05-14 14:17] gawlk commented on #114
Maybe this could help ? https://github.com/gawlk/svelte-class-transition

[2020-05-15 01:33] hmmhmmhm commented on #114
I'll open a github repo this weekend, i think that collects examples of native effects like, an it's essential for high-end users using this router.

[2020-05-15 16:11] Christheoreo opened #115 "Route Guards not identifying variable change"
Hi,

first of all - I love Svelte-Spa-Router and I think it's awesome.

I am having some issues with Route Guards for authentication.

I am using stores to store and change my authentication value, once the user is authenticated the store value will be set to true and then I will use `replace()`  to change the URL to show a different page. The problem is that it always thinks the value is false, w

[2020-05-20 01:54] #113 closed

[2020-05-22 14:46] rondonjon opened #116 "Page doesn't re-render when URL parameter changes"
How to reproduce:

 - configure a route with a parameter, e.g. `item/:itemId`
 - navigate to a valid route, e.g. `item/7`
 - change the `itemId` parameter value, e.g. `item/8`, in the browser address bar and hit enter

Expected result:

 - browser should fire a `hashchange` event
 - router should replace the page content for item 7 with the content of item 8

Actual result:

 - browser fires a `ha

[2020-05-25 03:01] ItalyPaleAle commented on #115
Sorry for the delay in responding, I've been really busy with work.

This looks like a really interesting issue and I'm trying to figure it out. One thing I don't really understand is the purpose of this line:

[code]

This passes the `authenticated` variable by value when the route guard is created (when the routes object is created), but it doesn't look like you're using it anywhere. Is this jus

[2020-05-25 03:02] ItalyPaleAle commented on #116
I cannot reproduce this. I've done this multiple times, and it's always worked for me.

Could you please share some code to reproduce it and provide information on what is the environment you're testing against?

[2020-05-25 03:03] ItalyPaleAle commented on #114
Could you please share some sample code to reproduce the issue?

[2020-05-25 03:05] ItalyPaleAle commented on #112
Sorry for the delay in responding, I've been incredibly busy for the last few weeks.

I'm really glad to hear you were able to find a simple, yet effective, workaround! Thanks for sharing it with us

[2020-05-25 03:05] #112 closed

[2020-05-25 12:31] Christheoreo commented on #115
Hi - I will try what you said about the console.log once I have access to my laptop - the
[code]
Was just to test what would come through - no real purpose what so ever!

[2020-05-25 20:15] ItalyPaleAle commented on #115
Ok, let me know what the result is. If you can also share some more code that would be very helpful!

[2020-05-26 09:13] Christheoreo commented on #115
Hi - I realised the issue!
After testing your console log suggestion I relaised the events wern't firing in the correct order.

I needed to do the actual subscribing part outside of the onMount method! I assumed it was good practise to keep everything in the `onMount` method but I guess that way it would execute after the route guard!

This was my final working code (modified slightly)

[code]

So

[2020-05-26 16:31] ItalyPaleAle commented on #115
Ohhh that's very interesting. Thanks for debugging that and reporting on your findings! Glad you could make it work 😄

[2020-05-26 16:31] #115 closed

[2020-05-29 22:01] crazedVic commented on #116
I ran into a similar issue recently.  I have a navigation bar:
[code]

And i tried to do this:
[code]

And then in the Parents.svelte onMount:
[code]

When you click on either navigation link, the url changes but since it's the same svelte component, namely Parents.svelte, it's not triggering a reload.

Clicking on a link to another component and then coming back to either of the above ones works,

[2020-05-30 01:19] ItalyPaleAle commented on #116
I think I understand the issue now and I actually think this is the correct behavior of the router.

The router should not un-mount and re-mount routes if the route doesn't change. That would almost always require a re-rendering of a lot of content and would have bad performance.

Because the component is only mounted once, `onMount` is only executed once, and that's by design. _(By the way, if yo

[2020-05-30 18:16] crazedVic commented on #116
So if I understand you correctly, the URL change is purely cosmetic as it's not something that svelte can react to.   Instead we would keep the status or id in a writable store, and clicking a link would then cosmetically alter the url as it does now without any reaction, but it would also need to change the value in the writable store which is reactive and would trigger a new fetch?

[2020-05-30 18:23] ItalyPaleAle commented on #116
Svelte can only react to changes in the DOM. URLs shown in the browsers' bar are not in the DOM, so Svelte can't react to that. The router however has a listener to URL changes events and sets the value of the `$loc` store to always match what's in the URL: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Router.svelte#L78 If you use the router, you don't need to worry about URLs.

Wh

[2020-05-30 18:24] ItalyPaleAle commented on #116
(Closing this as it's not an issue with the router, but feel free to continue commenting)

[2020-05-30 18:24] #116 closed

[2020-06-05 21:16] crazedVic commented on #116
Thanks for pointing me in the right direction.  Took me a while still to get it working but I got there.  For others that end up here, who maybe are as new at svelte as I am, this is what i did to get it working:
[code]
then in the script i put this line:
[code]
this is the fetch function:
[code]
the format of the url for my app is:
[code]

[2020-06-07 14:15] pensierinmusica opened #118 "Should the router be installed as a dependency or a dev dependency?"
Hi,

The Svelte official template installs the `svelte` package as a dev dependency:

https://github.com/sveltejs/template/blob/master/package.json

This router should also be installed as a dev dependency or as a regular dependency instead?

Thanks!

[2020-06-07 14:35] pensierinmusica opened #119 "Redirect from routes definition"
Hi,

Using this module is there a convenient way to make a certain route redirect to another?

[code]

Note that I don't want to just render the `Hello` page, I want the browser to redirect to the `/hello` route.

Thanks for your help!

[2020-06-07 15:40] ItalyPaleAle commented on #118
See https://github.com/ItalyPaleAle/svelte-spa-router/issues/10

It depends on your scenario and preferences. Either works :)

[2020-06-07 15:40] #118 closed

[2020-06-07 15:41] ItalyPaleAle commented on #119
You can use the “replace” method inside a route guard (check the Advanced Docs) to do this. Or you can create a “Home” route that calls “replace” after it’s initialized.

[2020-06-07 15:41] #119 closed

[2020-06-07 19:10] duduindo commented on #116
@crazedVic Thank you!

[2020-06-08 00:33] pensierinmusica commented on #119
👍Thx!

[2020-06-10 09:41] avimar opened #120 "Internet Explorer 11 support - polyfill?"
I'm totally not expecting anyone to want to deal with this, but it seems it's not that hard to transpile svelte for IE11. There's still some usage around the world with people that can't update. Anyway, it's an interesting learning experience.

sapper has a config, https://github.com/sveltejs/sapper-template/blob/master/rollup.config.js but I had to add to the exclude: `'node_modules/core-js/**'`

[2020-06-11 00:07] ItalyPaleAle commented on #120
I can't make changes without the source code, but the polyfill you're using seems different than what written here: https://stackoverflow.com/a/26596324/192024 which I haven't tried, but lots of people seem to suggest it works. In particular, in your bundle you included a polyfill twice, but changing the methods.

Can you try with just this code (copied from SO):

[code]

Note the second-last line

[2020-06-11 00:07] #120 closed

[2020-06-24 13:27] avimar opened #121 "Page reloads first time using `push()`"
I don't think I'm doing anything weird, but when clicking a link, the hashbang in the URL changes but then the entire page reloads (sometimes on the same page.)

This seems to have to do with a ? in the url.

1) Live example: https://freedomhot.com/sim-activate.html
1b) auto redirects to https://freedomhot.com/sim-activate.html#1
[code]
2) I click a box, then click next. This calls `push('/2');`
3

[2020-06-24 21:32] jayliu50 opened #122 "Hash missing on use:link when in dynamic array"
Hi, I'm experiencing an issue having to do with `use:link` seemingly not working as expected.

I have a dynamic number of page items.
An `{#each}` loop is tied to the dynamic list of items.
When items in the list get deleted, sometimes, the _other_ items in the list will "lose" the # in their href.
So for example, `"#/page/123"` will turn into `"/page/123"` after another sibling has been deleted.

[2020-06-25 03:44] ItalyPaleAle commented on #121
It's hard for me to help without having access to the source code. I've tried taking a look at it and one weird thing I could notice is the variable named `$form_activate`: normally, the $ has a special meaning in Svelte, so it *might* cause some issues.

However, I can't debug without access to the source code.

I do not believe this is an issue with the router itself however. The fact that it wo

[2020-06-25 03:44] ItalyPaleAle commented on #114
@hmmhmmhm ping :)

[2020-06-25 03:52] ItalyPaleAle commented on #122
@jayliu50 thanks for this. I can reproduce it but adding some logging in the `link` method, I see that it's not being invoked (neither is the method that updates the element).

I am leaning towards this being a bug in Svelte itself. In fact, Svelte is re-creating the elements in the DOM and it's not firing the `link` action.

Can you open an issue in https://github.com/sveltejs/svelte/issues ?

[2020-06-25 04:08] jayliu50 commented on #122
Thank you so much for your reply, and for your time in looking into this.

Yes, I'll go ahead and open up an issue there.

I was able to work around the issue by simply setting the `use:link` attribute rather than `href`

[code]

[2020-06-25 04:13] ItalyPaleAle commented on #122
Glad that worked! Otherwise, you could have also manually added a link with #:

[code]

[2020-06-25 04:13] #122 closed

[2020-06-25 19:11] avimar commented on #121
Wow OK, so I figured it out.

1) A basic reproduction worked just fine, with the `$location` and `push`.
2) I tried cutting code from my site, but it still didn't work. (GIT is awesome. Just delete stuff and experiment and don't worry, you can simply revert it later!)
After deleting nearly everything, the `submit` button caught my eye... and then I figure it out...

**The issue**: my buttons were

[2020-06-25 19:11] #121 closed

[2020-06-26 06:28] hmmhmmhm commented on #114
pong!!, sorry i'll be delay!
I finally have time today....!!
I'll make sure to sample work on it and upload today!

[2020-06-30 12:56] wolf3c opened #123 "it does not works in meteor + svelte"
I am using svelte-spa-router in Meteor and Svelte. but it does not works well.

these are my code in App.svelte:

[code]
it always load in `Login` when the URL is `/c` or other

And it always load in `NotFound` if the routes be:
[code]

if another one knows what's wrong?

[2020-06-30 17:28] ItalyPaleAle commented on #123
I must admit I've never used Meteor and I'm not really sure where to start from either. I thought that Meteor contained a web server, however, making client-side routing with hashes not necessary?

In any case, can you share some code to reproduce this?

[2020-07-01 23:37] BogdanDarius opened #124 "A way to do codesplitting"
It seems that async route loading is not working.
I tried svelte-spa-chunk and I cant get it to work(ChunkGenerator is not a function).
Is there a way to get codesplitting?

[2020-07-02 00:45] ItalyPaleAle commented on #124
Thanks for the report.

For version 3.0 (which is behind because I've been too busy) I am planning to implement native support for dynamically loaded routes, as per #73 and #104

In the meanwhile, because this issue is with a third-party module, may I recommend you open an issue with that repo?

[2020-07-02 00:45] #124 closed

[2020-07-13 18:56] feg624 commented on #81
Hi all: I got contacted by @kaydwithers about this issue, so I thought it's better to document in here in case someone else needs it.

In order to troubleshoot, I created two files on my project at root level:

**jest.config.js**
`
module.exports = {
  transform: {
    "^.+\\.svelte$": ["svelte-jester", {"preprocess": true}],
    "^.+\\.js$": "babel-jest"
  },
  moduleFileExtensions: ["js", "svelt

[2020-07-19 00:38] Manborough opened #125 "router guard and async"
Is there a particular way I need to use async functions within the wrap function?
I'm trying to check authorisation from my API roughly like this.

[code]

but I'm finding the route loads before the results from the api return.

[2020-07-19 22:14] Doudou8 commented on #125
I also have this issue. I need to verify that the user is connected with the firebase API.

[2020-07-20 09:51] Shyam-Chen opened #126 "Support base URL"
[code]

Ref: https://router.vuejs.org/api/#base

[2020-07-20 16:36] ItalyPaleAle commented on #126
Hi, thanks for the proposal!

The goal of svelte-spa-router is to be as simple to use as possible, which means that we'll introduce new APIs only if they're strictly necessary or if they would save a significant amount of effort.

In this case, I'm not a fan of adding the "base" attribute for two reasons:

1. There are edge scenarios that aren't unclear. For example, in your example above, should

[2020-07-20 16:36] #126 closed

[2020-07-24 01:21] BogdanDarius commented on #125
Hi!
You could specify in routes config a wrapper component:
[code]

And in `MyWrapper` you could do something like this:
[code]

[2020-07-26 21:16] pipboy9000 opened #128 "history not recorded"
I have a weird issue, i'm trying to make the back button go to the main page of my app in case user used a link to open it. for example if the user has opened my app with the url: www.domain.com/#/ABCD the app loads a page related to the ABCD id. But if a user will now click the back button the app will close, instead i want to go to www.domain.com

in my App.svelte i do this:
`  onMount(() => {
l

[2020-07-26 21:34] ItalyPaleAle commented on #128
Uhm this is an interesting use case, and I'd have to try some code to give you some clear guidance.

The first thing that comes to mind is that both `replace` and `push` actually trigger the navigation on the next tick of the event loop, to ensure the rendering doesn't get messed up. This might be why the code isn't working properly?

The good news is that a few months back I added a small feature

[2020-07-26 21:48] pipboy9000 commented on #128
hey, i tried it, and also with a 2 seconds setTimeout. they both seemed to work as expected except for when clicking the back button. in all cases the problem resolved if i clicked the window before page loaded, i'm starting to think it's a chrome thing.
I checked again and this bug seem to happen only when i type the address manually, if i use a link everything seems to work fine so ill close thi

[2020-07-26 21:48] #128 closed

[2020-07-28 14:24] jordaofranca commented on #122
I had the same issue with `each` logical block. It seems like it has same context. it gives a ctx[1].call not a function.

A work around is to create a standalone component that applies link to it. Like a `Link` component.

[2020-08-01 12:04] Dan1ve commented on #125
I have the same issue, and I feel like the suggestion by @BogdanDarius isn't general-purpose enough to (easily) work on many pages (please correct me if I misunderstood something).
Simply passing an `async` function to `wrap` would be really nice!

[2020-08-01 12:06] BogdanDarius commented on #125
Promise and lazy routing is on the roadmap.
I encountered same issue while I wanted to implement code splitting.

[2020-08-01 12:07] BogdanDarius commented on #125
Promise and lazy routing is on the roadmap.
I encountered same issue while I wanted to implement code splitting.

[2020-08-01 12:07] BogdanDarius commented on #125
Promise and lazy routing are on the roadmap.
I encountered same issue while I wanted to implement code splitting.

[2020-08-01 12:14] Dan1ve commented on #125
That's great to her @BogdanDarius , really looking forward to this! Let me know if I can help in any way.

[2020-08-03 17:36] sandrochuber opened #129 "Question: Export as Static Site"
Hi all,

Thanks for the cool project, I really like it!

Would this router potentially enable to build a completely static site of my application, where I don't need a server and can directly deploy to e.g. github pages, Netlify, ...?

Has anyone already done this or is there some technical difficulty that wouldn't allow this?

I know that Sapper enables this via `Sapper export` and scrapes the si

[2020-08-05 05:32] ItalyPaleAle commented on #129
Yes of course. Creating static web apps (with no server-side processing required at all) is precisely why this router exists. It's partly explained here: https://github.com/ItalyPaleAle/svelte-spa-router#hash-based-routing

[2020-08-05 05:32] #129 closed

[2020-08-08 17:21] ItalyPaleAle commented on #123
Closing for inactivity and because Meteor isn't a focus for this project.

[2020-08-08 17:21] #123 closed

[2020-08-08 17:21] ItalyPaleAle commented on #114
Closing for inactivity.

[2020-08-08 17:21] #114 closed

[2020-08-13 19:26] chovy opened #130 "Google Analytics?"
How do I get Google ANalytics to work with svelte-spa-router?

[2020-08-14 01:07] ItalyPaleAle commented on #130
This issue is not specific to this router but in general it's about tracking hash-based views using GA. This should help: https://www.youtube.com/watch?v=UTLflQWya8w

[2020-08-14 01:08] #130 closed

[2020-08-14 23:27] TorstenDittmann commented on #105
I totally agree with @frederikhors here! I would very likely take advantage of that 👍

Even though it is a breaking change, it probably only changes syntax and not a lot of logic.

[2020-08-15 17:54] ItalyPaleAle commented on #105
I've been thinking about this more. I still don't think this is worth making the change.

I understand that it's "just a syntax change", but it will require possibly thousands of apps to be updated. I cannot do that to our users, not without a solid reason! A lot of people will rush to update the module from 2.x to 3.x, sometimes automatically (how many people put `*` as version in package.json!).

[2020-08-15 17:54] #105 closed

[2020-08-16 11:38] matt-psaltis opened #131 "Passing additional Props to component"
Thank you for making the only Svelte router that has just worked. A huge bonus - it matches the documentation! :D

I was hoping for a change to the Router component to be able to pass additional props to the rendered component.

Given a router definition the inclusion of the {props} attribute would allow arbitrary data to be passed to the rendered component.

[code]

Changes required:

[code]

Ren

[2020-08-16 12:03] hollandzone commented on #125
Encountering this issue with firebase authentication as well, would love to see this feature implemented.

[2020-08-16 17:33] Dan1ve commented on #125
FWIW, I now call a `redirectIfNotAuthenticated()` method at the top of every `<script>` tag of protected svelte files. This method checks the authentication against the server and, if necessary, redirects to the login page (setting the current page as url argument for redirect back after login). Although not an ideal solution, this seems to work fine as a workaround.

[2020-08-16 17:45] ItalyPaleAle commented on #125
I do the same as @Dan1ve in my own code.

If every single route requires authentication, I check it in a function that's called at the beginning of the page's execution, in the main.js file (outside of the Svelte app)

[2020-08-16 18:21] ItalyPaleAle commented on #131
Hi @SaltyDH, thanks a lot for the nice words and for the suggested feature!

As others have seen me write in other PRs, one of the main goals of svelte-spa-router is to keep the module as simple as possible. I've resisted feature creeping many times before because I think that a smaller router would have lots of benefits, including:

1. Smaller footprint at runtime. At the moment, adding svelte-sp

[2020-08-17 11:17] SaltyDH commented on #131
Hi @ItalyPaleAle thank you for taking the time to consider this proposal. I completely understand where you're coming from and it was part of my thought process in putting together what I hoped was a minimal and considered change to the router. Let me see if I can distil my thoughts and use case down for your consideration.

A top level router acts as a seam between logically disparate portions of

[2020-09-01 13:37] frederikhors commented on #105
Dear @ItalyPaleAle,

I am really sad for this news. 😢

I was hoping it could be done in version 3.
After all semver is just what this is for: **to indicate breaking changes**!

I think this shouldn't concern us. We are making here **the best router for Svelte 3 now and for years to come**!

I hope you can reconsider, really, please.

And I could provide all the help you need for writing a docs exp

[2020-09-04 05:23] si3nloong opened #132 "Unable to get route key"
[code]

Currently there have no way to get the route key `/example/:id` in event `on:routeLoaded`, i hope you expose the value in the `on:routeLoaded` event

[2020-09-04 05:28] ItalyPaleAle commented on #132
The routeLoded callback receives an `event` parameter that contains a variety of values. In your case, you need to use `event.detail.location`. Docs and example here: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#routeloaded-event

[2020-09-04 06:16] si3nloong commented on #132
This is ain't the value i expected, the value i want is the raw value `/example/:id` instead of `/example/123`

[2020-09-04 06:20] ItalyPaleAle commented on #132
I see. In this case I suggest using the wrap function to attach custom data to a route. You’ll see the custom data in event.detail.customData. By setting a different value for each path, you can achieve the same result: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#route-pre-conditions

[2020-09-04 06:24] si3nloong commented on #132
yeah, currently I using `wrap` function to overcome it, but I hope it include inside the event object (it did make sense we need to check on the route key, because that is a unique identifier for the specific route)

[2020-09-05 17:46] ItalyPaleAle commented on #132
Ok it makes sense. I'll reopen this and look at what I can do

[2020-09-06 04:10] ItalyPaleAle commented on #132
Ok I've implemented it in the v3.0 branch. I am hoping to have the time to finish work on that branch soon and make a release :)

[2020-09-06 04:37] ItalyPaleAle commented on #131
Sorry for the delay in responding…

Thanks for your thoughtful response. I agree with your point and I'm going to accept this.

Would you like to open a PR (to get proper credits)?

[2020-09-06 06:28] ItalyPaleAle commented on #73
@hmmhmmhm @frederikhors @joshua1 @BogdanDarius (tagging everyone who ever asked about this feature)
 sorry this took SO LONG.

I finally managed to get a working prototype of this, in the [dynamic-import](https://github.com/ItalyPaleAle/svelte-spa-router/tree/dynamic-import) branch.

It works by creating the `wrapAsync` method to wrap the route:

[code]

(Note that you must use a function definiti

[2020-09-06 10:41] BogdanDarius commented on #73
Awesome!
I tested `wrapAsync` on a bigger project, it works as expected.
Regarding the loading I agree that option 3 seems to most intuitive. I do have a question though, could you setup different loaders for some routes or just a single loader for all routes?

[2020-09-06 15:23] ItalyPaleAle commented on #73
Thanks a lot for testing it and confirming it works!

Good point. A different loading view for each component was not a requirement I had considered. But it makes sense.

Doing that would not be possible with the options above (maybe with 1). It would require people to manually determine the loader to show, for example by using the $location store to know what component will be loaded.

The only w

[2020-09-06 15:41] BogdanDarius commented on #73
I like the idea of having it as an argument to `wrapAsync`.

[2020-09-06 19:45] ItalyPaleAle commented on #104
There's currently work being done in #73 to support dynamically-imported routes.

Once that's implemented, it will be possible to do a lazy loading too, by invoking `import('foo.svelte')` in your init code in main.js. Subsequent invocations to `import`, including in async routes as supported by #73, will just return the cached code.

I'll write some docs on how to do this

[2020-09-06 19:45] #104 closed

[2020-09-06 21:21] ItalyPaleAle commented on #73
Thanks @BogdanDarius  for the feedback!

The [dynamic-import](https://github.com/ItalyPaleAle/svelte-spa-router/tree/dynamic-import) branch has been updated and now the `wrapAsync` function accepts a component to display while loading the route. If nothing is passed (or a false-y value), then nothing is displayed.

@hmmhmmhm @frederikhors what do you think?

[2020-09-07 12:23] BogdanDarius commented on #73
Awesome work.
I tested the updated branch, it works as expected.
I find it very clean to include the loader component in the `wrapAsync`, that is my take on it.

[2020-09-08 17:12] si3nloong commented on #132
👍

[2020-09-08 17:12] #132 closed

[2020-09-10 06:11] IDDT commented on #66
`<a href={'#'}></a>` also removes the warning.

[2020-09-10 09:14] frederikhors commented on #73
Sorry for my delay in replying.

Great job, @ItalyPaleAle, as always. I haven't tested it yet because I don't have time right now but I trust and know it will work.

Personally I agree with the idea number 5 (passing the loading component as an argument of `wrapAsync`) because very often we need to have different loaders based on what we are loading, **but I also need to pass props to it**.

Examp

[2020-09-10 16:12] ItalyPaleAle commented on #73
@frederikhors thanks for the feedback!

The problem with the syntax you're suggesting is that the `wrapAsync`'s function signature is based on the `wrap`'s one: `wrap(route, userData, ...conditions)`. `userData` is an object too, so if we need to pass another object for the props for the loader component, that would be an issue...

[2020-09-10 16:25] frederikhors commented on #73
Can we use an obj like:

[code]

?

[2020-09-10 16:29] ItalyPaleAle commented on #73
It would have to be more like `{component: LoaderComponent, props}` but could work. Let me look into that, and if it's possible to support both that and just `LoaderComponent`.

As an alternative, because the signature is getting complicated enough already, I could simply make `wrap` and `wrapAsync` accept an object with parameters. That would also be more future-proof, and I'm more leaning toward

[2020-09-15 15:30] frederikhors opened #133 "Regex for params routes declaration?"
Is there a way to declare routes with params in regex using `Map()`?

[code]

I'm not a regex expert, is there one?

[2020-09-15 16:03] frederikhors opened #134 "Nested routes with param prefix"
I have this situation:

- / (Home)
- /players - with `const prefix = '/players'` (it works)
  - /players/all
  - /players/create
  - /players/update/:ID
  - /players/:ID - `Open.svelte` (same file)
  - /players/:ID/* - `Open.svelte` (same file)
    - /players/:ID/team
    - /players/:ID/other

In `Open.svelte` what `prefix` should I have?

I tried like this:

[code]

It doesn't work? Why?

It only

[2020-09-15 16:37] ItalyPaleAle commented on #133
The equivalent regex that matches all of `/:ID`, `/:ID/`, and `/:ID/*` should be: `/^\/(.*?)(\/(.*))?$/i` (of course, this matches `:ID` as everything, if you only have a subset of characters you can use that instead). In the result, `wild[1]` will be the value of `:ID` and `wild[3]` (if present) will be the value of `*` (without the leading `/`).

For `/create/:ID`, it's `/^\/create\/(.*)/i`

Not

[2020-09-15 16:37] #133 closed

[2020-09-19 20:21] ItalyPaleAle commented on #73
I've updated the `dynamic-import` branch and now there's a single `wrap` function exposed in `svelte-spa-router/wrap` which takes an object as argument, and allows dynamically-imported and not routes. 🎉

(The `wrap` function exported by `svelte-spa-router` is still available as an interface for backwards compatibility, but now marked as deprecated, and I'll remove it from 4.0)

Thanks a lot for yo

[2020-09-19 23:31] ItalyPaleAle commented on #131
@matt-psaltis this is implemented in the 3.0 branch and will be released shortly. Thanks for the contribution!

One note: because the props are passed to every single route, if the route doesn't ask for them, you'd see a warning similar to `<Name> was created with unknown prop 'foo'` (see #98)

[2020-09-19 23:32] ItalyPaleAle commented on #101
This should be fixed by #73 in branch 3.0. Closing

[2020-09-19 23:32] #101 closed

[2020-09-19 23:54] ItalyPaleAle commented on #134
The issue here is that `/players/:id` is actually converted to a regular expression, and that's why using that string as prefix fails.

I've fixed this in version 3.0 (WIP branch, planning to release within a couple of days). The way this will be fixed is by enabling you to define a regular that will be matched as prefix. In your case, you'll define `prefix` as:

[code]

Once 3.0 is out (or you ca

[2020-09-20 00:38] ItalyPaleAle commented on #125
@Manborough support for async functions in route pre-conditions has been added to 3.0 (WIP branch) and will be released with version 3.0 soon 🚀

[2020-09-20 23:48] #73 closed

[2020-09-20 23:48] #107 closed

[2020-09-20 23:48] #125 closed

[2020-09-20 23:48] #131 closed

[2020-09-20 23:48] #134 closed

[2020-09-23 14:32] BogdanDarius opened #136 "Prevent re-render when using nested routers"
Version 3.0 have some awesome features and I was playing around with them.
One problem I'm facing is a way to prevent the re-render of the parent component when using **wrap asyncComponent** with nested routers.

When I click on **dashboard** I want to load the **Dashboard component**, this works as expected.
I added a regex to match all dashboard subroutes, so when I go to **dashboard/first-menu*

[2020-09-23 14:41] frederikhors commented on #136
You can also avoid `import FirstMenu from "./FirstMenu.svelte"; etc...` because you're using async.

But still the re-rendering problem is here.

I know @ItalyPaleAle will come immediately here.

[2020-09-23 14:45] BogdanDarius commented on #136
Yeah I forgot them there. I tried without asyncComponent and got the same problem.

[2020-09-24 00:54] ItalyPaleAle commented on #136
Thanks for reporting this. I think I understand what is causing this, and it's actually not just an issue with nested routers, but due to changes implemented to support async routes.

Let me try to push a fix asap.

[2020-09-24 03:49] #136 closed

[2020-09-24 03:50] ItalyPaleAle commented on #136
Fixed. Version 3.0.2 coming out shortly :rocket:

[2020-09-24 04:25] Alexn117 opened #138 "Snowpack compatibility"
I'm using Snowpack with [Create Snowpack App (CSA)](https://www.snowpack.dev/#create-snowpack-app-(csa)) to scaffold a Svelte project, but the routing is not working. On the console I'm getting:

[code]

[2020-09-24 04:29] ItalyPaleAle commented on #138
This is an issue in Snowpack: https://github.com/jakedeichert/svelvet/issues/69

Duplicate #92

[2020-09-24 04:29] #138 closed

[2020-09-26 00:49] FredKSchott commented on #138
Fix for snowpack: https://github.com/pikapkg/snowpack/pull/1134

[2020-09-27 08:56] matt-psaltis commented on #131
Hi @ItalyPaleAle sorry I've been unresponsive to this I would have liked to contribute with the pull request, thank you for doing so on my behalf.

With this change, it looks like the props are exposed as part of the routes configuration and I've successfully been able to add them via routes. One difference in the original suggestion was having the props variable exported so that it can be supplie

[2020-09-27 19:15] ItalyPaleAle commented on #131
Hey @matt-psaltis thanks again for the contribution and for the convincing argument above!

I initially merged the change just as you proposed above. However, after some testing, I decided to alter the design for two reasons.

1. The first is that I know that once I "opened the floodgates", users would have asked for that, so might as well just do it right away and offer the most flexible option.

[2020-09-29 19:06] ganigeorgiev opened #139 "Query parameters and the "active" class check?"
Often when there is some filter field on the page, I add it as a query param to the url (eg. `'/#/dashboard?search=test'`) in order to keep and preset the value on page refresh.

This unfortunately removes the highlight from the active links. I guess this could be fixed by providing a proper regex to the `use:active` `path` option, but shouldn't the default behavior emulates the route matching (ak

[2020-09-29 19:34] ItalyPaleAle commented on #139
Yes it should be the default behavior, so if this doesn't happen it is likely a bug.

Thanks for the report! Let me look into this tonight.

[2020-09-30 19:16] Parables opened #140 "Cannot find module 'svelte-spa-router' or its corresponding type declarations.ts(2307)"
Recently upgraded Svelte and I am seeing this everywhere I use push, pop or location. Can you please fix that for me asap?

[2020-09-30 19:38] ItalyPaleAle commented on #140
I'm working on this project as a volunteer so I can't "fix that for [you] asap".

In any case, the report lacks information. What is the error that you're getting, and most importantly where are you seeing it? And what are you doing when the error appears? Please provide a clear report.

What you wrote is mentioning the TypeScript typings so I wonder if it's an error in your tooling, such as your

[2020-09-30 22:24] dljsjr commented on #140
I don't wish to necro but I am seeing the same issue: even though Router.svelte has type annotations the base module itself doesn't seem to.

Of note, the following gives the aforementioned linting error:

[code]

**HOWEVER**, if you import Router.svelte directly then there is no issue, the typings get picked up just fine:

[code]

[2020-09-30 22:25] ItalyPaleAle commented on #140
Where do you see this error?

[2020-09-30 22:26] ItalyPaleAle commented on #140
And are you able to share some code to reproduce this?

[2020-09-30 22:38] dljsjr commented on #140
It appears to be the output of `svelte-check`. It shows up as a "red squiggly" in VS Code and I can reproduce it locally with `$(yarn bin)/svelte-check` in my local project.

I don't have a public repo I can share currently, but it can be reproduced with a very simple Svelte app and the following App.svelte:

[code]

[2020-10-01 00:49] ItalyPaleAle commented on #140
I see, you're using TypeScript. Let me take a look and see what I can come up with.

[2020-10-01 01:05] BogdanDarius commented on #140
Hello there!
In order to fix typescript erros just add `svelte-spa-router` to decs.d.ts file.
[code]

[2020-10-01 02:09] ItalyPaleAle commented on #140
So, I've looked into this and I can repro when using TypeScript.

However, I don't think this is an issue with this package. The point of TS is that it should work transparently with non-TS modules, and this module isn't written in TS (although we do have JSDoc comments, so typings should work).

What I think the issue is: unlike "traditional" NPM modules, this router exports a Svelte file and not

[2020-10-01 02:10] ItalyPaleAle commented on #140
Said that, thanks a lot @BogdanDarius for the workaround for now 😄 Although, that reinforces even more the theory that this is an issue in the Svelte tooling and should be fixed upstream.

[2020-10-01 02:10] #140 closed

[2020-10-01 03:25] ItalyPaleAle commented on #139
I've looked into this, and I actually forgot this is the correct behavior.

Here's the code that is making it happen: https://github.com/ItalyPaleAle/svelte-spa-router/blob/40d82d7688ea9c04632033d4ce3c865d2f531393/active.js#L30 As you can see, it's explicitly adding the "querystring" to the path to match.

I've been doing some tinkering and I think I'd say this a feature and not a bug 😀

- Links l

[2020-10-01 03:25] #139 closed

[2020-10-01 14:04] dljsjr commented on #140
Ah yes, sorry I thought it was known this was a TypeScript specific problem!

I'm aware of @BogdanDarius's workaround for modules that don't expose types but since the Svelte component was annotated with JSDoc I figured there was some other issue.

The other workaround of course being to import Router.svelte directly instead of just the module.

[2020-10-03 22:50] frederikhors opened #142 "Can we avoid repeating the same loadingComponent for each route?"
I'm using the new 3 version.

I have these routes:

[code]

Can we avoiding repeating: `loadingComponent: RouteLoading` for each route?

In my projects the loader for the routes is always the same component.

[2020-10-03 23:30] frederikhors opened #143 "dynamic routes, Uncaught (in promise) TypeError: Cannot read property 'name' of null"
I'm trying to use new 3 version.

- Issue reproduction here: https://github.com/frederikhors/svelte-spa-router-name-of-null-error.

- Gif:

![issue](https://user-images.githubusercontent.com/41120635/95003532-8cebaa00-05e0-11eb-87db-3a9f7ecf9b52.gif)

**Steps to reproduce:**

1. download reproduction (`git clone https://github.com/frederikhors/svelte-spa-router-name-of-null-error`)
1. `npm install

[2020-10-04 00:42] frederikhors opened #144 "Very nested routes quirks"
I'm trying to use new 3 version.

Reproduction project: https://codesandbox.io/s/svelte-spa-router-very-nested-routes-mskmc?file=/todo/Index.svelte

### Questions:

1. Can we use one regex for this code in `todos/Index.svelte`?

[code]

1. Why do we need to use `const prefix = "/todos"` both in `todos/Index.svelte` and `todos/Show.svelte`? Can we just use `const prefix = "/:ID"` in `todos/Show.sve

[2020-10-04 01:03] ItalyPaleAle commented on #142
This was actually by design. There was a conversation [here](https://github.com/ItalyPaleAle/svelte-spa-router/issues/739) and the feedback I got was that people wanted the ability to be able to specify different loading components for different routes. So this is what we have :) I know it's a bit repetitive, but it is the only way (without introducing defaults which I'm really not excited about,

[2020-10-04 01:03] #142 closed

[2020-10-04 01:11] ItalyPaleAle commented on #144
1. If you use Maps, you can use a custom regex and actually merge them. So you can just write `.set(/^\/(.*?)(\/(.*?))?/, Show)` instead
2. The prefix has to be relative to the full URL, so the router knows what to exclude from the beginning
3. No, otherwise the router wouldn't match sub-routes correctly

However, in your example, in `todo/Index.svelte` I would argue that I would avoid using a nes

[2020-10-04 01:11] #144 closed

[2020-10-04 01:38] #143 closed

[2020-10-04 01:39] ItalyPaleAle commented on #143
Thanks for catching this and reporting this! I've pushed a fix to the master branch and will make a release soon.

[2020-10-04 01:39] ItalyPaleAle commented on #143
Especially, thanks for sharing the repro code and clear, precise instructions :)

[2020-10-04 01:46] ItalyPaleAle commented on #143
v3.0.3 is out with a fix for this regression. Thanks again!!

[2020-10-05 07:24] frederikhors commented on #144
1. If I use `.set(/^\/(.*?)(\/(.*?))?/, Show)` **the URL becomes `undefined`** if I clik on "Edit todo" or "Todo notes". Eg: "https://mskmc.csb.app/#/todos/undefined/edit".

2. So I need to have:

    1. `routes.js` with `.set(/^\/todos(\/(.*))?/i)`
    1. `Index.svelte` with `prefix = "/todos"`
    1. `Show.svelte` with `prefix = "/todos"` again

    Am I right?

    **It would be amazing to only

[2020-10-05 07:50] frederikhors commented on #144
2. Or at least in `Show.svelte` have `prefix = "/todos/:ID"` because I have a lot of routes, all with: `/:ID` repeated, like this:

[code]

[2020-10-05 07:55] frederikhors commented on #142
This link (https://github.com/ItalyPaleAle/svelte-spa-router/issues/739) is wrong in your answer.

[2020-10-05 07:55] frederikhors commented on #142
This link (https://github.com/ItalyPaleAle/svelte-spa-router/issues/739) is wrong in your answer.

[2020-10-05 15:56] ItalyPaleAle commented on #144
No, a single RegEx is enough. Not sure what the issue there is, but check the docs: https://github.com/ItalyPaleAle/svelte-spa-router#define-routes-with-custom-regular-expressions

As for the prefix... You should be able to define a prefix as a RegEx too. See docs: https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#nested-routers

Is your ID always numeric, or does i

[2020-10-05 15:57] ItalyPaleAle commented on #142
Sorry, made a typo. Should have been: https://github.com/ItalyPaleAle/svelte-spa-router/issues/73

[2020-10-06 23:41] frederikhors commented on #144
@ItalyPaleAle I stll don't understand. Sorry. Forgive me.

My reproduction is here: https://codesandbox.io/s/svelte-spa-router-very-nested-routes-mskmc?file=/todo/Index.svelte

## FIRST QUESTION

Can we use only one line (with a regex) for this code in `todos/Index.svelte`?

The problem here is this is a param.

[code]

If I use `.set(/^\/(.*?)(\/(.*?))?/, Show)` (as you suggested) **the URL becom

[2020-10-07 00:29] ItalyPaleAle commented on #144
# First
There was a small mistake in the regular expression I gave you. It doesn't work unless you add `$` at the end.

In `todos/Index.svelte`, your match should be  (note the addition of the $ at the end of the matching sequence)
[code]

Because the match is using a regexp now, as per the docs I linked above, you can't use `params.ID` anymore as you're doing in the file. Instead, you need to use

[2020-10-07 20:12] frederikhors commented on #144
You've made it really clear now.

Thanks.

[2020-10-08 14:25] frederikhors opened #145 "What about "Discussions" tab?"
I have seen that you are very interested in closing issues immediately and bringing them to 0.

And that's a great thing.

How about adding the "Discussions" tab so we can talk about something other than "issues"?

Like this: https://github.com/FormidableLabs/urql/discussions.

[2020-10-08 15:31] frederikhors opened #146 "On slower devices the browser does not correctly reset the scroll when I go back to the list"
**Packages versions**

[code]

# First reproduction

**Steps to reproduce**

1. Start the server opening this page: https://codesandbox.io/s/apollo-server-urql-svelte-crud-h1pcl
1. Open Incognito browser session
1. Go to reproduction: https://bjr5y.csb.app/
1. Click on "Todos list"
1. Click on "Add more random todos" button many times so the scrollbar becomes visible and **Q.ty is >= 100**
1. Scro

[2020-10-08 15:40] frederikhors commented on #146
Update: added Gif reproduction.

[2020-10-08 16:06] BogdanDarius commented on #146
@frederikhors
I cant reproduce this on Chromium Version 86.0.4240.75.

[2020-10-08 16:17] ItalyPaleAle commented on #145
Thanks for the suggestion!

At this stage, this project is fairly small in size and we don't really have a community like Kubernetes or other large-scale projects

I am concerned that by enabling the discussion tab, it would end up being an end-user support forum (help with user code and not with bugs in the router) whose burden would fall just on me.... and as I am maintaining this purely as a vo

[2020-10-08 16:17] #145 closed

[2020-10-08 17:26] frederikhors commented on #146
Oh! Wow!

Maybe your device is powerful.

Can you try to increase the todos in the list up to 1000?

[2020-10-08 17:29] BogdanDarius commented on #146
I tried with 2000 items. The scrollbar is still at the bottom.
Very strange indeed.

[2020-10-08 17:43] frederikhors commented on #146
Is CPU 6x slowdown?

[2020-10-08 17:44] BogdanDarius commented on #146
Yes

[2020-10-08 20:00] frederikhors commented on #146
I updated with a second reproduction case.

@BogdanDarius I think you will see the problem using this second case.

[2020-10-08 20:22] gdamjan commented on #140
where do we add this?

[2020-10-08 20:57] frederikhors commented on #77
@ItalyPaleAle @jacwright this is similar to what I thought: https://github.com/trambarhq/relaks.

It's for React / Preact and I only found out today.

[2020-10-08 20:58] dljsjr commented on #140
I might be wrong (I'm not a TS expert) but I believe @BogdanDarius is suggesting having a project local typescript modules declarations file to just silence the linter but it won't actually bring the typings in to scope. You have to import the .svelte component to do that like in my original workaround.

[2020-10-08 20:58] frederikhors commented on #77
This is the router: https://github.com/trambarhq/relaks-route-manager.

[2020-10-08 21:01] BogdanDarius commented on #140
@gdamjan in **src** of your project where you would usually have **App.svelte** make a **decs.d.ts** and declare any unknown types there if you want to get around the warnings.

[2020-10-08 21:26] frederikhors commented on #77
Look at [Trambar demo](https://github.com/trambarhq/trambar/blob/master/docs/demo.md). Amazing smooth navigation between routes!

[2020-10-08 21:38] gdamjan commented on #140
Thanks both! I'll import the `'svelte-spa-router/Router.svelte'` directly until this is fixed in svelte tooling.

[2020-10-08 22:21] gdamjan opened #147 "Can a guard function send props to a component?"
This is my use-case: I have a guard that checks if the the id for `/book/:id` is a correct id shape (which can have several shapes), the check function practically normalizes the id, so I'd like to send the normalized id to the component. if the id is not proper, then I show a 404 page. The normalized id is not visible in the url though.

Is it possible to change the props with a guard function?

[2020-10-09 14:03] BogdanDarius commented on #147
You can pass props using **userData**
Check the documentation on route guards
https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Advanced%20Usage.md#route-pre-conditions

[2020-10-09 15:27] gdamjan commented on #147
Thanks @BogdanDarius, I was reading that, but couldn't find the relation between user data and props

[2020-10-09 16:49] ItalyPaleAle commented on #147
`userData` is only passed to route guards or events. As for `props`, I don't believe there's a way to modify them from a route guard that isn't hacky.

Sounds like what you're looking for is a sort of "middleware" and this is not really possible at the moment in the router. And I do think your best option remains to re-do the normalization in the route.

How complicated (computationally intensive)

[2020-10-09 17:46] gdamjan commented on #147
I guess not that much, and also it's not running on my CPUs :)

[2020-10-09 17:54] ItalyPaleAle commented on #147
I didn't want to say it out loud, but indeed 😁

If you really wanted to avoid re-computing it, I would look into Svelte stores as a possible tool to keep this state. Because only one page can be displayed at a time, it shouldn't be an issue.

Aside from that, I sense an ask here for the ability to pass data from a route guard to a component. In a broader sense, that would be turning route guards i

[2020-10-11 13:55] ganigeorgiev opened #148 "Remount component on parameter change"
Consider the following route definition:

[code]

Navigating from `/users/1` to `/users/2` will not remount the example UserView component and therefore any actions (eg. fetching the targeted user) binded to `onMount` are not triggered.

This seems to be intended (probably [#L476](https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Router.svelte#L476)) but what it is the reason behind th

[2020-10-11 14:49] ItalyPaleAle commented on #148
It is done on purpose indeed, for the best user and developer experience :)

What you can do is to watch for changes to params.id and reactively update your component.

You can see an example here: https://github.com/ItalyPaleAle/book-app-demo/blob/master/src/components/Book.svelte

[2020-10-11 14:50] #148 closed

[2020-10-11 14:57] ganigeorgiev commented on #148
@ItalyPaleAle as I noted in the _ps._, watching the parameters it's not the same as remounting the component and it's not always trivial to handle for example transitions and other layout changes.

[2020-10-11 15:12] ItalyPaleAle commented on #148
It's not, but when working with Svelte it's best practice to minimize the amount of DOM changes. In fact, the Svelte compiler itself goes great length to ensure that!

If you really want to re-mount the component, assuming your route is in the `User` component.

1. Place your view in a `UserInner` component.
2. Change your `User` component to include `UserInner`, then watch for changes to `params.

[2020-10-11 15:17] ganigeorgiev commented on #148
@ItalyPaleAle Thanks for the suggestion. Actually I'm currently doing something very similar, but decided to go with `{#key expression}...{/key}` in the template instead of `if`.

[2020-10-11 15:20] ItalyPaleAle commented on #148
That works too. But you need to make sure expression isn't just true/false because if you go from true->false->true in the same tick of the event loop, I don't believe anything changes. So you can use props.id as expression in key I believe (haven't tried it)

[2020-10-14 10:15] jerryk1925 opened #149 "History mode as vue-router?"

[2020-10-14 13:52] jerryk1925 opened #150 "SyntaxError: node_modules\svelte-spa-router\Router.svelte: Identifier '_asyncToGenerator' has already been declared (26:7)"
`WARNING in ./node_modules/svelte-spa-router/Router.svelte
Module Warning (from ./node_modules/svelte-loader/index.js):
Router has unused export property 'loc'. If it is for external reference only, please consider using `export const loc` (65:11)
63:
64:
65: export var loc = readable(null, // eslint-disable-next-line prefer-arrow-callback
               ^
66: function start(set) {
67:   set(getLo

[2020-10-14 15:38] ItalyPaleAle commented on #149
Duplicate of #88

[2020-10-14 15:38] #149 closed

[2020-10-14 15:42] ItalyPaleAle commented on #150
Thanks for the report. However, there is not much we can do with just an error message like these. Can you please provide more context so we have something to inspect?

Best practices for reporting an issue include:

1. Reporting what you were trying to do
2. Reporting what you were expecting to see
3. Include steps to reproduce the issue

The last is very important, as without your code (or a cod

[2020-10-14 15:42] #150 closed

[2020-10-14 15:51] jerryk1925 commented on #150
i want use dynamic import for my routes, and my webpack show error
` Identifier '_asyncToGenerator' has already been declared (26:7)`
My webpack config

`            {
                test: /\.(js|msj|svelte)$/,
                exclude: /node_modules\/(!svelte)/,
                use: {
                    loader: 'babel-loader',
                    options: {
                        presets: ['@ba

[2020-10-20 14:05] thubalek opened #151 "National characters (like ščřť) handling"
I'm trying to understand whether SPA handles special characters like in path `ščřť` correctly and I have feeling it does not. Please note I'm quite new to Svelte so there may be issue on my side.

What I did:

I created simple component `Test.svelte`

[code]

Added it into routes

[code]

and when I invoke url  `http://localhost:8080/app/index.html#/test/š` I get

`Param value is %C5%A1`

So is

`

[2020-10-20 17:44] ItalyPaleAle commented on #151
What version of the package are you using? In version 3, I made a change so `decoreURIComponent` is performed automatically and you shouldn't need to run it yourself. See: https://codesandbox.io/s/zen-sanderson-duqhx

If you're on version 2, then yes, that's the correct behavior.

[2020-10-20 17:49] thubalek commented on #151
I'm using 2.1.0. That's probably root cause. Thanks for your help. It makes sense to me now.

[2020-10-20 17:56] #151 closed

[2020-10-22 01:51] ItalyPaleAle commented on #140
Thanks to #152, we should now have TypeScript definitions and types! I'm about to release v 3.0.4 soon

[2020-10-22 01:54] ItalyPaleAle commented on #150
Sorry for responding late.

I still don't have a complete repo to try, but I see that you're using babel extensively. This is likely an issue with Babel or with your setup above.

svelte-spa-router is a bit different from other modules on NPM as we publish "raw" (uncompiled) Svelte files. So, if you're excluding svelte from Babel's processing, you might need to treat the router the same way. But t

[2020-10-26 17:04] vigenere23 commented on #146
For me it never worked... I had to implement it myself. Also using `3.x.x` for both svelte and spa-router, tested on Chromium and Firefox (latest) and Safari iOS and Firefox mobile.

[2020-10-27 04:51] vigenere23 opened #154 "Support path params in RegExp path format"
When declaring a route in the `Regexp` format, there's no way to include route params. I've checked the source code for `regexparam` and it seems to act quite weirdly with RegExp inputs (returning `false` as keys? non-sens...). That means the situation needs to be handled manually on our side by literally iterating through the RegExp string.

[2020-10-27 05:07] ItalyPaleAle commented on #154
Is this related to #153?

If not, Can you please give me an example of what you're trying to achieve?

[2020-10-27 12:46] vigenere23 commented on #154
Yes, sorry, I've just added a magic comment to link them :)

[2020-10-27 14:15] vigenere23 opened #155 "Restore Scroll state: missing info in doc?"
I've tried to use the `restoreScrollState` feature, but it never worked for me...

After hours of testing and trying things, I've come to the conclusion that **it only works if using the `push()` function**, and does not work with standard links. As of my understanding, this is because it's impossible to replace the state of the previous location (no `history.popState()` method :cry:) once the `wi

[2020-10-27 15:07] vigenere23 opened #156 "Export RouterEvent interface"
I think the `RouterEvent` interface in the `Router.d.ts` file should be exported. Else, every callback function gets a `Parameter 'event' implicitly has an 'any' type` warning.

**Version**: `3.0.5`

### Screenshot

![spa-router-implicit-any](https://user-images.githubusercontent.com/32545895/97333168-9ec41400-1851-11eb-9574-69c650c0e5da.png)

[2020-10-27 15:42] vigenere23 opened #157 "Add support for anchor links"
Anchor links are the trailing `#` part in URL that usually corresponds to an ID on the page. The default and standard browser behavior is to automatically scroll to the element that corresponds to that id on page load. But since our app is an SPA, the `hash` starts at the first `#` symbol and thus preventing such behavior (ex: `#/#about` will try to scroll to element with id `/#about` instead of `

[2020-10-27 16:33] ItalyPaleAle commented on #156
Uhm when I wrote that, I tested events too and didn't experience this issue.

What is the code that is causing the error? What event are you listening to?

[2020-10-27 16:34] ItalyPaleAle commented on #154
Ok I'm going to close this then so we can track work on the PR.

[2020-10-27 16:34] #154 closed

[2020-10-27 16:40] vigenere23 commented on #156
Sorry, I've just added a screenshot

[2020-10-27 16:45] ItalyPaleAle commented on #156
Gotcha. I think I know the issue: if you put the callback directly inside the Svelte markup (eg `on:routeLoaded={(event) => something}`) then the correct type is passed. Because the function is defined separately, this happens.

I don't know if I'd export the RouteEvents interface, because that's a generic. But it could make sense to export an interface for each route event: RouteLoaded, RouteLoad

[2020-10-27 17:36] ItalyPaleAle commented on #155
You're correct that this only works when using pop or use:link. See #52

Sadly this is by design and I don't think this can be changed. You need to add some action to links or it won't be able to save the current scroll position.

I do agree that I should have documented this however. I'll leave this issue open for updating the docs.

[2020-10-27 17:50] vigenere23 commented on #155
Nice, thanks! But yes, as said, I too don't think it is possible to save scroll position without any other interim call with the current state of Javascript :confused:

[2020-10-29 03:37] #156 closed

[2020-10-29 03:43] #155 closed

[2020-10-29 04:12] ItalyPaleAle commented on #146
Sorry for responding late, as I was thinking about this issue. This has the look and smell of a race condition.

One thing I noticed in your repro code while playing with it, is that you didn't set `restoreScrollState={true}`. Is there a reason for that?

Oddly, however, when setting that value, now I can't get the scroll position restored even with normal CPU performance. Will do some debugging.

[2020-10-29 04:16] ItalyPaleAle commented on #146
I made a fork in which I enabled `restoreScrollState` and changed your links in the List component to use `use:link`, and it seems to be working even with 6x slowdown: https://codesandbox.io/s/svelte-spa-router-restorescrollstate-forked-rxm5t

Demo: https://rxm5t.csb.app/#/todos

[2020-10-29 04:18] ItalyPaleAle commented on #157
This is an interesting issue and I'd be willing to support looking for `#` in the querystring (so a `#` after a `#`) to determine the anchor to navigate to.

i agree that this would break links that want to point to an anchor. We _could_ fix that for when people leverage the `use:link` action. There would be no way to fix it for "regular" links.

What do you think?

[2020-10-29 09:27] frederikhors commented on #146
Is there a way to avoid `use:link`?

[2020-10-29 15:29] ItalyPaleAle commented on #146
No, sadly, it's a requirement. This was recently asked in #155 too: the scroll position must be saved before the navigation happens, so use:link (or using push) is necessary.

[2020-10-29 16:32] vigenere23 commented on #157
Yes, sounds good! But I'm wondering if the steps from `2.1` would work in the following algorithm to work around the "same-page anchor-links":

1. always keep a reference to the last hash
2. on `hashchange` event, do:
    1. if hash is an anchor link (aka there's no `/` after the `#`):
        1. (needed?) prevent default behavior (would a `event.preventDefault()` work for this event?)
        2.

[2020-10-29 23:11] ItalyPaleAle commented on #146
@frederikhors please let me know if using `restoreScrollState` fixes it for you and so if I can close this issue!

[2020-10-29 23:19] frederikhors commented on #146
Can you give me a day, please?

[2020-10-29 23:21] ItalyPaleAle commented on #146
Absolutely!!!

[2020-10-30 01:28] vigenere23 commented on #157
wow... it actually works! + the default behavior still seems to work... sometimes. It still does create a race condition when using the `restoreScrollState` attribute, but I'm sure we can find a way to prevent this easily (just like the `previousScrollState` check in the `afterUpdate()`?)

<details>
<summary>Here's my prototype for now:</summary>

[code]

</details>

[2020-10-30 06:06] azakost opened #160 "Name parameter does not changes when changed in browser address bar"
1. Setted route with named parameter in routes.js:

[code]
2. In Post component
[code]

For example if I click on link "/posts/123" right in webapp - it works well,
but if I change this link to "/posts/5" in browser's address bar - 'params.id' still lasts as "123"

[2020-10-30 06:10] ItalyPaleAle commented on #160
I just tested this and it's working for me - cannot reproduce it!

What is your environment?

[2020-10-30 06:22] azakost commented on #160
Sorry, forgot to add in my example 'console.log(params.id)'. Edited issue.
Please run (by changing in addressbar and hitting 'enter' key) and see difference.

[2020-10-30 06:27] azakost commented on #160
It seems like page has to be refreshed after any change of named parameters. Otherwise it still works like an anchor.

[2020-10-30 06:32] ItalyPaleAle commented on #160
Well, `console.log` will only be triggered once because it's not a reactive statement. To get that triggered every time `params.id` change you need to replace the line with:

[code]

See: https://svelte.dev/tutorial/reactive-declarations

In the template, `{params.id}` should be reactive by default.

[2020-10-30 07:29] azakost commented on #160
Well, I think it should fully act like any other non-hash based router. That's a core thing i am talking about.

[2020-10-30 07:31] ItalyPaleAle commented on #160
I'm not sure what you mean with that. The router follows the principles of reactivity of Svelte 3.

Can you give me an example of another router and its behavior?

[2020-10-30 07:49] ItalyPaleAle commented on #160
I am not familiar with many other routers to this level so I can't comment on their behavior fully. However, I don't think this is about hash-based routing.

In Svelte 3, code inside the script block is executed only once, when the component is mounted the first time. To make code execute reactively, you can use the `$:` label.

Now, when you change page from /posts/123 to /posts/456, the componen

[2020-10-30 07:49] #160 closed

[2020-10-30 07:59] azakost commented on #160
Still feel that routes with named parameter should act like other routes without it.

This is rithorical issue. Anyway thanks for your job!

[2020-10-30 12:18] KamyarLajani opened #161 "Adding a condition to all the routes once"
For example, I want to insert a condition to all the routes like below.
'/register', '/login': No condition
'/*': Inserting one condition to all the other routes
but without adding each separate conditions for all the other routes.

[2020-10-30 18:14] frederikhors commented on #146
Have you read this last message of mine, @ItalyPaleAle?

[2020-10-30 18:32] ItalyPaleAle commented on #146
Yes sorry I'm going to look into it tonight.

What are the repro steps? The same ones in your first post above? Does it reproduce consistently or only some times? In what browser are you testing, and are you testing within codesandbox or `csb.app` site?

[2020-10-30 19:12] frederikhors commented on #146
Please don't be sorry at all!

Yes, the same. Just use this: https://codesandbox.io/s/svelte-spa-router-restorescrollstate-forked-tcfvj?file=/App.svelte.

It's the same of the first one, plus `use:link` and `restoreScrollState={true}`.

Note the problem is also on `todos_raf` directory / example.

Every time.

Chrome 86, Windows 10.

Both. Also w/ Incognito mode.

[2020-11-04 01:29] mustofa-id commented on #111
Hi,
Facing this issue, trying add `local` modifier doesn't work for me.

![spa-router](https://user-images.githubusercontent.com/25121822/98058319-f2001d00-1e76-11eb-9b23-9bc29d749901.gif)

### Code

- Component
[code]

- Routes
[code]

### Dependencies Versions
[code]

[2020-11-04 02:09] ItalyPaleAle commented on #111
This is not an issue with the router but rather with the way transitions work in Svelte (and the way the DOM works). You should only set either `in` or `out` transitions, but not both.

[2020-11-04 20:11] Sidewinder1138 opened #162 "use:active possible TS bug?"
I'm using svelte-spa-router in a Svelte project with TypeScript. It's working great, and I just started using the 'use:active' ability. It works, but I get this TS error:

Argument of type 'typeof import("c:/Users/ander/work/nova/fresh/apps/flare2/node_modules/svelte-spa-router/active")' is not assignable to parameter of type 'SvelteAction<[{ path: string; className: string; }], HTMLAnchorElement>

[2020-11-04 20:13] ItalyPaleAle commented on #162
Can you please show the line (and the rest of the relevant code) where this is happening?

[2020-11-04 20:15] Sidewinder1138 commented on #162
Sure! This is the code that is creating my <a> tags:
`  {#each pages as page}
    <a href={page.href}
      use:link
      use:active={{ path: page.href + '(\/.*)?', className: 'flareNavSelected' }}

      <Icon i={page.icon} fixedWidth/>
      <span class="hide-tablet">{page.label}</span>
    </a>
  {/each}`

Earlier in the component I define an array of 'pages' like this:
`const pages = [
  {

[2020-11-04 20:19] Sidewinder1138 commented on #162
The error is on the 'use:active' part.

[2020-11-04 20:21] ItalyPaleAle commented on #162
Sadly I cannot reproduce it.

What version of svelte-spa-router are you using? And what version of TS?

[2020-11-04 20:39] Sidewinder1138 commented on #162
"svelte-spa-router": "^3.0.5",
"typescript": "^3.9.3"

[2020-11-04 20:45] ItalyPaleAle commented on #162
I'm using the same versions. I still cannot reproduce this... Are you able to share the entire component? Also, have you tried deleting the node_modules folder and re-installing the modules from npm?

[2020-11-04 21:35] Sidewinder1138 commented on #162
Ok I've been able to repro this with a totally fresh minimal app: https://github.com/Sidewinder1138/router-bug-repro

[2020-11-04 21:40] ItalyPaleAle commented on #162
Thanks a lot for this repo! This is very helpful. I wasn't trying "npm run validate" and it always worked with "npm run dev".

Looks like there's indeed an issue with the typings. I'll fix it tonight.

[2020-11-04 21:43] Sidewinder1138 commented on #162
My pleasure, and thanks! Really love svelte-spa-router, it's been incredibly helpful for my app 👍

[2020-11-05 05:15] #162 closed

[2020-11-05 05:17] ItalyPaleAle commented on #162
Thanks, @Sidewinder1138 ! And thanks again for reporting this

The issue should be fixed in master and I'll make a release in a few days once I finish a few more things :)

[2020-11-05 05:22] ItalyPaleAle commented on #146
@frederikhors I took a look and looks like you're using nested routers, so you need to set `restoreScrollState={true}` in the nested router. Can you try and see if that works?

[2020-11-05 06:38] ItalyPaleAle commented on #147
I've been thinking about this and I have a **proposed** design for you to consider! I do not consider this final at all, but more like a "request for feedback" 😄

The idea is to introduce the "context". Your route pre-condition functions now receive as `this` an object that contains the `setContext` and `getContext` methods, that allow you to access key-value pairs that are scoped to this specific

[2020-11-05 08:50] ItalyPaleAle commented on #147
Thinking more about it, maybe rather than passing the context's functions through `this`, I could pass them as second argument to the pre-condition function. It will still maintain backwards-compatibility anyways. And it's easier than having to deal with "this".

[2020-11-05 16:52] Sidewinder1138 commented on #162
My pleasure, and thanks for the quick fix, really appreciated! 😁

[2020-11-06 14:58] frederikhors commented on #146
I tried. You're right. I forgot `restoreScrollState` on nested router.

However the "problem" remains in the "Todos Raf" section as you can see.

In part I think this is right because the DOM does not exist when I go back to the list, but this is the real challenge: can we use the restore even in this situation?

I am using the Raf (requestAnimationFrame) a lot because it makes browsing much faste

[2020-11-16 00:03] ItalyPaleAle commented on #146
Yes this would make sense. The scroll position is restored after the component is mounted, but because your component has some async stuff in the `onMount` section, there might be a timing issue..

Your best bet at this point is to perform the scroll manually when your app is ready for that. You'll have to save the scroll position before navigating, and restoring it when ready.

You can see an exa

[2020-11-16 00:03] #146 closed

[2020-11-16 01:14] frederikhors commented on #146
Thanks @ItalyPaleAle.

It would be great if this kind of thing natively belonged to the router I'm using.

But I realize it's an advanced feature (I'm referring to the `requestAnimationFrame` and its relative scroll).

Thanks for everything.

[2020-11-17 21:47] peepopoggers opened #164 "Cannot use require"
I cannot use require() to import modules like a normal project. Is this to do with the renderer?

If i am mistaken please let me know.

[2020-11-17 22:04] ItalyPaleAle commented on #164
Which modules are you trying to import?

In the Svelte ecosystem, almost everything uses ES Modules so you import them with the `import foo from './file'` syntax. CommonJS modules aren't really used with Svelte because they cannot be optimized equally as well.

If you do need to import an external module that is only available as CommonJS module, you should be able to do that as long as your bundl

[2020-11-17 22:04] #164 closed

[2020-11-18 09:03] peepopoggers commented on #164
Yeah, I was not sure what the problem was exactly, but for anyone having the same issue:

I was using the template

If you are using electron make sure to add
[code]
inside of `new BrowserWindow`
for example below the height param.

This allows require to work with svelte and electron.
This wasnt to do with the module but thank you for your help :D

[2020-11-18 16:31] ilrico opened #165 "enhancement: set global wrap condition for routes"
Suppose you have a website that can be accessed directly on any route.
Suppose you need to set a condition on component loading based on a specific state (think user state for instance).
Then you have to define a wrap condition for each route, which can be cumbersome.
It would be nice to define a single wrap condition that applies to all routes.

[2020-11-18 16:49] ItalyPaleAle commented on #165
This has been asked before, but I really like a more declarative style for the route definition object and this would start deviating from it.

However, if you really want to avoid wrapping each route, you have 2 options:

1. Create a function that runs `wrap` with your parameters/conditions every time. Example: https://svelte.dev/repl/f75f9eb239ef4f778a275279f3393e17?version=3.29.7 Rather than ha

[2020-11-18 16:49] #165 closed

[2020-11-29 22:52] kinsleykajiva opened #167 "Uncaught Error: Invalid value for "path" argument"
I am new to this library so I have tested the setup tutorials but I am facing this error just to run the app with out doing much, so can someone help me out on this as I do not know s what wrong . Below is a sample code of the App.svelte .

`<script>

    import Router ,{location, link} from 'svelte-spa-router';

	import LeftNav from "./includes/LeftNavigation.svelte" ;
	import HeaderNav from "./i

[2020-11-29 22:55] ItalyPaleAle commented on #167
Each path defined as string must start with `/`. So `users` needs to be `/users`.

However, I should improve the error message!

[2020-11-30 02:54] #167 closed

[2020-12-01 06:13] ShadowfeindX opened #168 "Svelte 3.30.0 breaks the Router Component"
In the Svelte 3.30.0 update the `SvelteComponent` and `SvelteComponentDev` interfaces were changed to be strongly typed. This means that the type of imported Components is now incompatible with these interfaces leading to errors like this:
[code]
A temporary solution is to just stick to Svelte 3.29.7, but I'm sure this will eventually need to be addressed.

I'm not exactly sure how to go about fix

[2020-12-01 16:31] ItalyPaleAle commented on #168
Thanks for reporting this, I'll take a look tonight

[2020-12-01 18:13] dummdidumm commented on #168
Language-tools-maintainer here, sorry for the inconvenience. I will look into how breakage like this can possibly avoided by relaxing the `SvelteComponent` types a little or by changing something inside the language-tools definitions.

Note that the update to use the typed `SvelteComponent` is technically a breaking change because people need to use version 3.30+ of Svelte for this to work.

[2020-12-01 18:33] ItalyPaleAle commented on #168
@dummdidumm thanks for chiming in!

I played around with this a bit in the morning, before starting work.

The issue is that, before the PR that implemented generic typings, I was already offering typings using the "old" format: https://github.com/ItalyPaleAle/svelte-spa-router/blob/v3.0.5/Router.d.ts#L162

When the new typings got merged, sadly the old ones stopped working.

I haven't finished wo

[2020-12-02 04:36] ItalyPaleAle commented on #168
@dummdidumm I have made a code change to match the strong types, but it doesn't look like it's correct anyways: https://github.com/ItalyPaleAle/svelte-spa-router/commit/ba2658ec80863285dfae7044299f05ca757e64bc

It seems the types are still too strict and it won't work for a router like this. I've been thinking about this but I'm low on ideas at this point and wondering if this is something that ne

[2020-12-02 06:39] dummdidumm commented on #168
It needs to be fixed upstream. The problem is that typescript will always complain when `typeof SomeClassWithGenerics = Subclass` it seems. We need to revert the typed `SvelteComponent` and instead provide that functionality through a separate class.

[2020-12-02 06:47] ItalyPaleAle commented on #168
Thanks for confirming. I've reverted my last attempt for now and we'll wait for a change upstream

[2020-12-02 17:31] dummdidumm opened #169 "Nested routes match wrongfully"
I have a route definition that is only valid inside another route/prefix.

[code]

If I am not on that route but somewhere else (prefix is different), the route is still matched and its conditions are run, in my case causing an endless loop because of some other redirects.

I think the problem lies within [this check](https://github.com/ItalyPaleAle/svelte-spa-router/blob/master/Router.svelte#L304

[2020-12-02 21:38] dummdidumm commented on #168
This should be fixed with Svelte version 3.31.0. Nothing to do on your part @ItalyPaleAle .

[2020-12-02 21:45] ItalyPaleAle commented on #169
Oh this is an interesting use case.

When I designed nested routers, I imagined them as being part of another component. For example:

App => Router (1) => Foo => Router (2)
(where Foo is a route on Router (1))

In the case above, Router (2) is not even mounted unless you're inside the Foo route and component.

If I understand correctly, instead, you want Router (2) to be mounted directly inside A

[2020-12-02 21:47] ItalyPaleAle commented on #168
Thank you @dummdidumm for submitting a fix upstream!

@ShadowfeindX can you please confirm this is working for you too now?

[2020-12-02 21:47] #168 closed

[2020-12-02 22:04] dummdidumm commented on #169
Actually the flow is as you described, it's App => Router (1) => Foo => Router (2) for me, but when navigating away from Router (2) that sub router is still active and will match stuff unexpectedly. In my case it's logout->redirect to `/login` -> Route (2) matching due to `/*` and doing a redirect on it's own -> Router (1) catching it and redirecting to `/login` because not authenticated -> endles

[2020-12-02 22:06] ItalyPaleAle commented on #169
Ok. I'm not sure I follow your app's structure, but sounds good nevertheless!

[2020-12-03 04:27] ShadowfeindX commented on #168
@ItalyPaleAle yes this works perfectly for me! Thanks for the quick response @dummdidumm!

[2020-12-03 20:43] micschwarz opened #171 "Loading Component for Preconditions"
Hey, first of all: Great work!

It might be useful to have a loading component for preconditions, as they can be async to.
This can be used to show the user that the route is loading, while eg. checking a users session.

[2020-12-04 05:31] ItalyPaleAle commented on #171
This is certainly an interesting use case. I'm going to keep this in the backlog and will consider it if enough other people share the need for this!

[2020-12-04 05:32] #169 closed

[2020-12-04 19:50] mhatvan opened #172 "Issue with highlighting active path with wildcard"
I want to use this variation of the code below for highlighting nested nav links:
```<a href="#{link}" use:active={{path: link + '/*', className: 'active', inactiveClassName: 'inactive'}}>Say hi!</a>```

I am iterating over a list of paths and the respective active item gets highlighted correctly when the paths are `/hello`, `/test`.

Unfortunately, It doesn't work with the `/hello/*`, `/test/*` w

[2020-12-04 20:23] ItalyPaleAle commented on #172
Thanks for the report. Are you able to share some code sample to reproduce this?

[2020-12-05 12:51] mhatvan commented on #172
@ItalyPaleAle Yes, I was able to reproduce it in an isolated Svelte REPL: https://svelte.dev/repl/9d22e449aba84325afec83ab4455c832?version=3.31.0

[2020-12-05 19:44] rogueyoshi opened #173 "Svelte REPL Live/Hot Reload"
https://svelte.dev/repl/6e7546119cff41fabe35df3ef999ff7e?version=3.29.4

Live/Hot Reload doesn't seem to work correctly on the REPL.

[2020-12-05 22:17] ItalyPaleAle commented on #173
What is the issue you're experiencing? It seems to be working fine for me

PS: You should start links with `#/` and not `/#`. So the correct nav should actually be:

[code]

[2020-12-05 22:23] ItalyPaleAle commented on #172
Thanks for sharing that. I think this is actually working as designed.

When you try to match an active link as `/hello/*`, that matches all links that start with `/hello/` **and** have something after that. So, it would match `/hello/world`, but NOT `/hello/` or `/hello`.

In your case, you might want to use a regular expression for matching active links, such as `path: /^\/hello(\/(.*?))?$/` ([t

[2020-12-05 22:23] #172 closed

[2020-12-06 04:23] martinspriggs opened #174 "UMD and IIFE not supported error on build with 3.1.0"
When using "asyncComponent: () => import("./Admin.svelte")" inside wrap and then trying to build, getting the follow error:
[!] Error: UMD and IIFE output formats are not supported for code-splitting builds.
Error: UMD and IIFE output formats are not supported for code-splitting builds.
    at error (/Users/martinspriggs/Dev/ContactUs/node_modules/rollup/dist/shared/rollup.js:5265:30)
    at valid

[2020-12-06 05:03] ItalyPaleAle commented on #174
The error isn't with the router but rather with the fact that Rollup doesn't let you use code splitting (required for dynamic imports) when you set output mode to UMD or IIFE.

Set the output format to `esm`, as in the example: https://github.com/ItalyPaleAle/svelte-spa-router/tree/master/examples/dynamic-imports